<div class="span12 faq_system section-padding" style="background:{{ module.add_left_col_background  }}">
    <div class="wrapper">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="span4 left-col">
                    <h4>
                        {{ module.add_left_col_heading }}
                    </h4>
                    <hr>
                    <div class="all-questions">
                        {% for item in module.add_topics_group %}
                        <h5 class="each-question {{ item.add_class_for_initial_hightlight }}" data-tab="{{ item.add_topic_data_id }}">
                            {{ item.add_topic }}
                        </h5>
                        {% endfor %}
                    </div>
                </div>
                <div class="span8 right-col">
                    <div class="form-section">
                        <input type="text" placeholder="Type Keyword" class="search-box">
                        <div class="search-icon">
                            <i class="fa fa-search fa-2x"  aria-hidden="true"></i>
                        </div>
                    </div>
                    {% for item in module.add_topics_group %}
                    <div id="{{ item.add_topic_data_id }}" class="single-question {{ item.add_class_for_initial_hightlight }}">
                        <h2></h2>
                        {% for item2 in item.add_questions_and_answers_group %}
                        <div class="question-answer">
                            <div class="question-answer-group span12 {% if item2.make_this_default_open %} expanded {% endif %}">
                                <div class="question">
                                    <h5>{{ item2.add_question }}</h5>
                                </div>
                                <div class="answer">
                                    <p>{{ item2.add_answer }}</p>
                                </div>
                                <div class="border-section">

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    /*==================================================================
       Faq System Styling
    =====================================================================*/
    /* for removing inherit border bottom for current heading */
    body .row-fluid .faq_system .single-question.current{
        text-decoration: none;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }


    /* styling for input */
    input.search-box {
        border: 1px solid #dadada;
        outline: none;
    }
    .faq_system .left-col h5{
        cursor: pointer;
    }
    .faq_system .right-col .form-section .search-icon {
        color: #fff;
        background:  #232937;
        width: 64px;
        height: 47px;
    }
    .faq_system .right-col .form-section{
        display: flex;
    }
    .faq_system .right-col .search-icon .fa-2x{
        text-align: center;
        margin: 0 auto;
        display: block;
        padding: 7px;
    }
    .faq_system .current{
        text-decoration: underline;
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
    .faq_system .single-question{
        display: none;
    }
    .faq_system .single-question.current{
        display: inherit;
    }
    .faq_system .right-col .single-question{
        padding: 73px 0 0;
    }
    /* padding for question and answer */
    .faq_system .right-col .question-answer .question-answer-group{
        /*         margin: 0;
                padding: 44px 0 44px 84px; */
        /*       border-bottom: 1px solid #c2c2c2; */
    }
    .faq_system .right-col .question-answer .question-answer-group .border-section{
        border-bottom: 1px solid #c2c2c2;
    }
    .faq_system .right-col .question-answer .question-answer-group .question h5{
        margin: 0;
        padding: 44px 0 44px 84px;
        /*       padding: 73px 0 0; */
    }
    .faq_system .right-col .question-answer .question-answer-group .answer p{
        margin: 0;
        padding: 0 0 51px 84px;
    }

    /******for toggle ***/
    body .faq_system  .question h5 {
        margin: 0;
        padding-bottom: 0px;
        cursor:pointer;
        position:relative;
    }
    .faq_system .question h5:after {
        content: " ";
        background-image: url('https://cdn2.hubspot.net/hubfs/6203144/p2h/plus.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        top: 52px;
        left: 34px;
        position: absolute;
        width: 18px;
        height: 18px;
    }
    .faq_system .question{
        position: relative;
    }
    .faq_system .question-answer-group.expanded h5:after {
        content: "";
        background-image: url('https://cdn2.hubspot.net/hubfs/6203144/p2h/border.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 15px;
        height: 3px;
        top: 58px;
        background: #000;
    }
    @media (min-width: 768px) {
        .faq_system .right-col {
            padding: 0 0 0 57px;
        }
        /*for backgroundcolor*/
        .faq_system {
            position: relative;
            z-index: 1;
        }

        .faq_system.section-padding:before {
            position: absolute;
            content: '';
            background: #fff;
            right: 0;
            top: 0;
            bottom: 0;
            width: 60.8%;
            z-index: -1;
        }
        /* for hr */
        .faq_system .left-col hr{
            width: 279px;
            position: relative;
            right: 53px;
            left: -45px;
        }
        .faq_system .left-col h4{
            margin: 0;
            padding: 0 0 26px;
        }
        .faq_system .left-col .all-questions{
            padding: 24px 0 0;
        }
        .faq_system .left-col .all-questions h5{
            margin: 0;
            padding: 0 0 16px;
        }

    }
    @media (min-width: 1440px) {

    }
    @media (min-width: 1024px) and (max-width: 1339px) {

    }
    @media (min-width: 768px) and (max-width: 1023px) {
        .faq_system.section-padding:before {
            position: absolute;
            content: '';
            background: #fff;
            right: 0;
            top: 0;
            bottom: 0;
            width: 60.8%;
            z-index: -1;
        }
    }
    @media (max-width: 767px) {
        .faq_system .left-col{
            text-align: center;
        }

    }


    /*==================================================================
   End Of  Faq System Styling
=====================================================================*/
</style>

