<div class="span12 faq_system section-padding" style="background:{{ module.add_left_col_background }}">
    <div class="wrapper">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="span4 left-col">
                    <h4>
                        {{ module.add_left_col_heading }}
                    </h4>
                    <hr>
                    <div class="all-questions">
                        {% for item in module.add_topics_group %}
                        <h5 class="each-question {{ item.add_class_for_initial_hightlight }}" data-tab="{{ item.add_topic_data_id }}">
                            {{ item.add_topic }}
                        </h5>
                        {% endfor %}
                    </div>
                </div>
                <div class="span8 right-col">
                    <div class="form-section">
                        <input type="text" placeholder="Type Keyword" class="search-box">
                        <div class="search-icon">
                        </div>
                    </div>
                    {% for item in module.add_topics_group %}
                    <div id="{{ item.add_topic_data_id }}" class="single-question {{ item.add_class_for_initial_hightlight }}">
                        <h2>General Questions</h2>
                        {% for item2 in item.add_questions_and_answers_group %}
                        <div class="question-answer">
                            <div class="question-answer-group span12 {% if item2.make_this_default_open %} expanded {% endif %}">
                                <div class="question">
                                    <h5>{{ item2.add_question }}</h5>
                                </div>
                                <div class="answer">
                                    <p>{{ item2.add_answer }}</p>
                                </div>
                                <div class="border-section">

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="hide-text">
                        <p>
                            {{ module.add_not_found_text }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    /*==================================================================
Faq System Styling
=====================================================================*/
    /* for removing inherit border bottom for current heading */
    body .row-fluid .faq_system .single-question.current{
        text-decoration: none;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    /* styling for input */
    input.search-box {
        border: 1px solid #dadada;
        outline: none;
    }
    .faq_system .left-col h5{
        cursor: pointer;
    }
    .faq_system .right-col .form-section .search-icon {
        color: #fff;
        width: 64px;
        height: 47px;
        background:  #232937 url('https://cdn2.hubspot.net/hubfs/6203144/p2h/search%20(2).png') no-repeat;
        text-align: center;
        margin: 0 auto;
        display: block;
        padding: 7px;
        background-position: 17px;
    }
    .faq_system .right-col .form-section{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .faq_system .current{
        text-decoration: underline;
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
    .faq_system .single-question{
        display: none;
    }
    .faq_system .single-question.current{
        display: inherit;
    }
    .faq_system .right-col .single-question{
        padding: 73px 0 0;
    }
    .faq_system .hide-text{
        text-align: center;
        margin: 0 auto;
        padding: 70px 0 0;
    }
    .faq_system .right-col .form-section .search-box {
        padding-left: 10px;
    }
    .faq_system .right-col .question-answer .question-answer-group .border-section{
        border-bottom: 1px solid #c2c2c2;
    }
    /******for toggle ***/
    body .faq_system  .question h5 {
        margin: 0;
        padding-bottom: 0px;
        cursor:pointer;
        position:relative;
    }
    .faq_system .question h5:after {
        content: " ";
        background-image: url('https://cdn2.hubspot.net/hubfs/6203144/p2h/plus.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        top: 52px;
        left: 34px;
        position: absolute;
        width: 18px;
        height: 18px;
    }
    .faq_system .question{
        position: relative;
    }
    .faq_system .question-answer-group.expanded h5:after {
        content: "";
        background-image: url('https://cdn2.hubspot.net/hubfs/6203144/p2h/border.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 15px;
        height: 3px;
        top: 58px;
        background: #000;
    }
    @media (min-width: 768px) {
        .faq_system .right-col {
            padding: 0 0 0 55px;
        }
        /*for backgroundcolor*/
        .faq_system {
            position: relative;
            z-index: 1;
        }

        .faq_system.section-padding:before {
            position: absolute;
            content: '';
            background: #fff;
            right: 0;
            top: 0;
            bottom: 0;
            width: 60.8%;
            z-index: -1;
        }
        /* for hr */
        .faq_system .left-col hr{
            width: 279px;
            position: relative;
            right: 53px;
            left: -45px;
            margin: 0;
        }
        .faq_system .left-col h4{
            margin: 0;
            padding: 0 0 26px;
        }
        .faq_system .left-col .all-questions{
            padding: 24px 0 0;
        }
        .faq_system .left-col .all-questions h5{
            margin: 0;
            padding: 0 0 16px;
        }
        .faq_system .right-col .single-question{
            padding: 67px 0 0;
        }
        .faq_system .right-col .question-answer .question-answer-group .question h5{
            margin: 0;
            padding: 44px 0 44px 84px;
        }
        .faq_system .right-col .question-answer .question-answer-group .answer p{
            margin: 0;
            padding: 0 0 45px 84px;
        }
    }
    @media (min-width: 1400px) {
        .faq_system.section-padding:before {
            width: 61.4%;
        }
        .faq_system .right-col {
            padding: 0 0 0 45px;
        }
    }
    @media (min-width: 1024px) and (max-width: 1339px) {
        .faq_system.section-padding:before {
            width: 67.8%;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        .faq_system.section-padding:before {
            width: 67.8%;
        }

    }
    @media (max-width: 767px) {
        .faq_system .left-col{
            text-align: center;
            padding: 0 0 30px;
        }
        /* for hr */
        .faq_system .left-col hr{
            width: 279px;
            position: relative;
            right: 53px;
            left: 0;
        }
        .faq_system .right-col .single-question{
            padding: 40px 0 0;
        }
        .faq_system .right-col .question-answer .question-answer-group .question h5{
            margin: 0;
            padding: 22px 0 22px 42px;
        }
        .faq_system .question h5:after {
            top: 21px;
            left: 12px;
        }
        .faq_system .question-answer-group.expanded h5:after {
            top: 30px;
        }
        .faq_system .right-col .question-answer .question-answer-group .answer p{
            margin: 0;
            padding: 0 0 22px 42px;
        }
    }


    /*==================================================================
    End Of  Faq System Styling
    =====================================================================*/
</style>
<script>
    $(document).ready(function(){

        $('.faq_system .all-questions h5').click(function(){
            var tab_id = $(this).attr('data-tab');
            var heading = $('.faq_system .single-question h2');
            console.log($(this).text());
            heading.text($(this).text());
            $('.faq_system .all-questions h5').removeClass('current');
            $('.single-question').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        });

        var hideText = $('.faq_system .hide-text');
        $('.faq_system .single-question .question h5').each(function(){
            $(this).attr('data-search-term', $(this).text().toLowerCase());
        });
        hideText.hide();
        $('.search-box').on('keyup', function(){
//   hideText.hide();
            var searchTerm = $(this).val().toLowerCase();
            $('.faq_system .single-question .question h5').each(function(){
                if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1 ) {
                    $(this).show(200);
                    $(this).parent().parent().show();
                }
                else {
                    console.log('else part');
                    $(this).hide(200);
                    $(this).parent().parent().hide();
                }
            });

            var lengthAnswer = $('.question-answer-group:visible').length;
            if(lengthAnswer === 0){
                $('.hide-text').addClass('show');
                $('.hide-text').show();
            }
            else{
                $('.hide-text').removeClass('show');
                $('.hide-text').hide();
            }

        });

    });


    var quesitonAnswer = $('.question-answer');
    // Initially hide all accordion content
    quesitonAnswer.find('.answer').hide();
    // Initially display the accordion content with .expanded class
    quesitonAnswer.find('.question-answer-group.expanded .answer').show();
    quesitonAnswer.find('.question').click(function(){
// Hide the displayed sibling accordion content so only one appears at a time
        quesitonAnswer.find(".question").not(this).parent(".question-answer-group.expanded").removeClass('expanded').children('.answer').stop(true,true).slideUp();
        if(!$(this).parent('.question-answer-group').hasClass('expanded')){
// Display the accordion content if it is not displayed
            $(this).parent(".question-answer-group").addClass('expanded').children('.answer').stop(true,true).slideDown();
        }
        else{
// Hide the accordion content if it is displayed
            $(this).parent(".question-answer-group").removeClass('expanded').children('.answer').stop(true,true).slideUp();
        }
    });
</script>




<div class="span12 faq_wd_4 section-padding"  style="background:{{ module.add_background_color .color}} url('{{ module.add_background_image.src }}') no-repeat;background-position:center;background-size:cover;">
    <div class="wrapper">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="span5 left-col two-col-text ">
                    <div class="all-topics">
                        {% for item in module.add_topics_group %}
                        <h5 class="each-topic {{ item.add_class_for_initial_hightlight }}" data-tab="{{ item.add_topic_data_id }}">
                            {{ item.add_topic }}
                        </h5>
                        {% endfor %}
                    </div>
                </div>
                <div class="right-col span7 float-right">
                    {% for item in module.add_topics_group %}
                    {% for item2 in item.add_question_answers_group %}
                    <div  id="" class="accordion">
                        <div class="accordion_group span12 text-margin-zero {% if item2.make_this_default_open %} expanded {% endif %}">
                            <div class="accordion_header accordion-start text-margin-zero">
                                <h5>{{ item2.add_question }}</h5>
                            </div>
                            <div class="accordion_content ">
                                {{ item2.add_answer }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>


    /**********************************************************
             faq section wd 4 styling starts here
    *********************************************************/

    .faq_wd_4 .accordion_group {
        border-radius: 4px;
        border: solid 1px #d8d8d8;
        padding: 20px 47px 20px 31px;
        margin-bottom: 30px;
    }

    body .faq_wd_4 .accordion_group.expanded {
        border-radius: 4px;
        border:0px;
        box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff;
    }
    .faq_wd_4 .row-fluid .span5 {
        width: 41.17094%;
    }
    .faq_wd_4 .row-fluid .span7 {
        width: 54.264957%;
    }
    body .faq_wd_4  .accordion_header h5 {
        margin: 0;
        padding-bottom: 0px;
        cursor:pointer;
        position:relative;
        transition: all ease-in-out .3s;
    }

    .faq_wd_4 .accordion_header h5:after {
        content: "";
        background-image: url(https://cdn2.hubspot.net/hubfs/6203144/Pattern%20Library/Image/Faq%20Section%20WD%2011%20(%20bottom-arrow%20).png);
        right: -27px;
        position: absolute;
        background-position: center;
        top: 0px;
        background-size: cover;
        width: 28px;
        height: 28px;
    }

    .faq_wd_4 .accordion_group.expanded h5:after {
        content: '';
        background-image: url(https://cdn2.hubspot.net/hubfs/6203144/Pattern%20Library/Image/Faq%20Section%20WD%2011%20(%20Close%20).png);
        background-repeat: no-repeat;
    }

    .faq_wd_4 .accordion_content p {
        padding-top: 17px;
    }


    @media (max-width:767px){

        .faq_wd_4 .accordion_group {
            padding: 25px 30px;
        }

        .faq_wd_4 .row-fluid .span7 {
            width: 100%;
        }

        .faq_wd_4 .row-fluid .span5 {
            width: 100%;
        }

        .faq_wd_4 .accordion_header h5:after {
            right: -20px;
        }

        body .faq_wd_4 .accordion_header h5{
            padding-right:15px;
        }

        .faq_wd_4 .two-col-items {
            display: block;
        }

        .faq_wd_4{
            text-align: center;
        }

    }

    /**********************************************************
          faq section wd 4 styling ends here
    *********************************************************/

</style>
<script>
    /**
     * Accordion tabber
     */
    var $accordion = $('.accordion');
    // Initially hide all accordion content
    $accordion.find('.accordion_content').hide();
    // Initially display the accordion content with .expanded class
    $accordion.find('.accordion_group.expanded .accordion_content').show();
    $accordion.find('.accordion_header').click(function(){
// Hide the displayed sibling accordion content so only one appears at a time
        $accordion.find(".accordion_header").not(this).parent(".accordion_group.expanded").removeClass('expanded').children('.accordion_content').stop(true,true).slideUp();
        if(!$(this).parent('.accordion_group').hasClass('expanded')){
// Display the accordion content if it is not displayed
            $(this).parent(".accordion_group").addClass('expanded').children('.accordion_content').stop(true,true).slideDown();
        }
        else{
// Hide the accordion content if it is displayed
            $(this).parent(".accordion_group").removeClass('expanded').children('.accordion_content').stop(true,true).slideUp();
        }
    });
</script>



