/* ==========================================================================
   Custom Menu Primary
   ========================================================================== */
​
​
    /* Set ul background color */
    /* Set li background Color */
    /* Set link Color */
    /* Set link Hover Color */
​
    /* Parent List */
.custom-menu-primary .hs-menu-wrapper > ul{
    background:;
}
.custom-menu-primary .hs-menu-wrapper > ul > li{
    background:;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a{
    color:;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a:hover{
    color:;
}
​
    /* Child List */
.custom-menu-primary .hs-menu-wrapper > ul ul{}
.custom-menu-primary .hs-menu-wrapper > ul ul li{
    background:;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a{
    color:;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a:hover{
    color:;
}
​
    /* Override max width on menu links */
.custom-menu-primary .hs-menu-wrapper > ul li a,
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
    overflow: visible !important;
    max-width: none !important;
    width: auto !important;
}
​
/* Fix menu disappearing on desktop after toggling mobile menu */
@media screen and (min-width:768px) {
    .custom-menu-primary .hs-menu-wrapper {
        display:block !important;
    }
}
    /* ==========================================================================
       Mobile Menu - Hubspot Standard Toggle Menu
       ========================================================================== */
    /**
     * Special Note
     *
     * When the menu is open, a class of .mobile-open is applied to the body. You can
     * use this for custom styling on any element when the menu is in the open position.
     */
.mobile-trigger, .child-trigger{
    display: none; /* Hide button on Desktop */
}
​
@media (max-width: 767px){
    /* Variables
           ========================================================================== */
        /* Set Mobile Menu Background Color */
        /* Set Link Color */
        /* Set Link Hover Color */

        /*
          * Menu Reset
          *
          * Remove styling from desktop version of custom-menu-primary. Place any
          * additional CSS you want removed from the mobile menu in this reset
          */
    .custom-menu-primary,
    .custom-menu-primary .hs-menu-wrapper > ul,
    .custom-menu-primary .hs-menu-wrapper > ul li,
    .custom-menu-primary .hs-menu-wrapper > ul li a{
        display: block;
        float: none;
        position: static;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        padding: 0px;
        margin: 0px;
        background-image: none;
        background-color: transparent;
        border: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
        max-width: none;
        width: 100%;
        height: auto;
        line-height: 1;
        font-weight: normal;
        text-decoration: none;
        text-indent: 0px;
        text-align: left;
        color:#000000;
    }

        /* Toggle Button
           ========================================================================== */
    .mobile-trigger{
        display: inline-block !important; /* Show button on mobile */
        cursor: pointer; /* Mouse pointer type on hover */
        position: absolute; /*******************************************/
        top: 0px;          /* Position Button at right of screen  */
        right: 10px;        /*******************************************/
        width: auto; /* Button width */
        height: auto; /* Button height */
        padding: 7px 10px 8px 10px;
        background: #ffffff; /* Background color */
        border: 1px solid #ffffff;
        font-size: 16px;
        font-weight: normal;
        text-align: left;
        text-transform: uppercase;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #ffffff;
    }
    .mobile-trigger:hover{
        text-decoration: none; /* Removes link text underline on button */
        color:#000000;
        background-color: #ffffff;
        border-color: transparent;
    }

        /* Change button when menu is open */
    .mobile-open .mobile-trigger{
        color:#000000;
        background-color: #ffffff;
        border-color: transparent;
    }

        /* Toggle Button Icon
           ========================================================================== */

    .mobile-trigger i{
        display: inline;
        position: relative;
        top: -4px;
    }
    .mobile-trigger i:before, .mobile-trigger i:after{
        position: absolute;
        content: '';
    }
    .mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after{
        width: 22px; /* Icon line width */
        height: 2px; /* Icon line height */
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        background-color: #ffffff; /* Icon color */
        display: inline-block;
    }
    .mobile-trigger i:before{
        top: -6px; /* Position top line */
    }
    .mobile-trigger i:after{
        top: 6px; /* Position bottom line */
    }

    .mobile-trigger:hover i, .mobile-trigger:hover i:before, .mobile-trigger:hover i:after,
    .mobile-open .mobile-trigger i, .mobile-open .mobile-trigger i:before, .mobile-open .mobile-trigger i:after{
        background-color: #000000; /* Icon color */
    }

        /* Child Toggle Button
           ========================================================================== */

    .child-trigger{
        display: block !important; /* Hide button on Desktop */
        cursor: pointer; /* Mouse pointer type on hover */
        position: absolute;
        top: 0px;
        right: 0px;
        width: 55px !important; /* Button width */
        min-width: 55px !important;
        height: 45px !important; /* Button height */
        padding: 0 !important;
        border-left: 1px dotted rgba(255, 255, 255, .20);
    }
    .child-trigger:hover{
        text-decoration: none;
    }
    .child-trigger i{
        position: relative;
        top: 50%; /* Centers icon inside button */
        margin: 0 auto !important;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .child-trigger i:after{
        position: absolute;
        content: '';
    }
    .child-trigger i, .child-trigger i:after{
        width: 10px; /* Icon line width */
        height: 1px; /* Icon line height */
        background-color:#000000; /* Icon color */
        display: block;

    }
    .child-trigger i:after{
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .child-trigger.child-open i:after{
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .child-trigger.child-open i{
    }


        /* Menu Styles on Mobile Devices
           ========================================================================== */

    .custom-menu-primary.js-enabled{
        position: relative;
        padding-top: 44px; /* Makes room for button */
        margin: 10px 0 10px 0;
    }

        /* Hide menu on mobile */
    .custom-menu-primary.js-enabled .hs-menu-wrapper,
    .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
        display: none;
    }

        /* Make child lists appear below parent items */
    .custom-menu-primary ul.hs-menu-children-wrapper{
        visibility: visible !important;
        opacity: 1 !important;
        position: static !important;
        display: none;
    }

        /* Mobile Menu Styles */
    .custom-menu-primary.js-enabled .hs-menu-wrapper{
        width: 100%;
        position: relative; /**************************************************************/
        top: 0;             /* Positions the menu to drop from the very top of the screen */
        left: 0;          /**************************************************************/
        padding: 0;
    }
    .custom-menu-primary .hs-menu-wrapper{
        background-color:#ffffff; /* Menu background color set off global menuColorMobile variable */
        width: 100%; /* Full screen width */
    }

        /* Level 1 Menu List Styles */
    .custom-menu-primary .hs-menu-wrapper > ul > li{
        position: relative;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li a{
        font-size: 22px; /* Font size of top level list items */
        line-height: 45px;
        overflow: visible;
    }

        /* Level 1 and Higher Menu List Styles */
    .custom-menu-primary .hs-menu-wrapper > ul li{
        border-top: 1px dotted rgba(255, 255, 255, .35); /* Adds transparent dark highlights to top of top level list items */
    }
    .custom-menu-primary .hs-menu-wrapper >  ul li a{
        padding: 0 10px;
        color:#000000; /* link color set by global mobile-aColor variable */
    }
    .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
        color:#000000; /* link hover color set by global mobile-aColorHover variable */
    }

        /* Level 2 and Higher Menu List Styles */
    .custom-menu-primary .hs-menu-wrapper > ul ul li{
        background-color: rgba(255, 255, 255, .08);
    }
    .custom-menu-primary .hs-menu-wrapper > ul ul li a{
        text-indent: 10px; /* Indent Child lists */
        font-size: 16px; /* Font size of child lists */
    }

        /* Level 3 and Higher Menu List Styles */
    .custom-menu-primary .hs-menu-wrapper > ul ul ul li a{
        text-indent: 30px; /* Indent Child lists */
    }
    .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
        text-indent: 50px; /* Indent Child lists */
    }
}

    /*============================================================
                HEADER Mobile Responsive
    ===========================================================*/
​
@media (max-width:767px){

    .custom-menu-primary .hs-menu-wrapper{
        display:none;
    }

    .mobile-trigger {
        border: 0;
        top: 0;
        right: 14px;
        background:transparent;
    }

    .mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after {
        width:30px;
        background:#ffffff;
        height:4px;
    }

    .mobile-trigger i:before {
        top: -8px;
    }

    .mobile-trigger i:after {
        top: 8px;
    }

    .mobile-trigger {
        top: 10px;
        right: 8px;
    }

    .mobile-open .mobile-trigger ,
    .mobile-trigger {
        background-color: transparent;
        z-index:15;
    }

    .mobile-trigger:hover {
        background-color: rgba(0, 0, 0, 0);
        border-color: transparent;
    }

    .mobile-trigger:hover i, .mobile-trigger:hover i:before,
    .mobile-trigger:hover i:after, .mobile-open .mobile-trigger i,
    .mobile-open .mobile-trigger i:before, .mobile-open .mobile-trigger i:after {
        background-color: #ffffff;
    }

    .mobile-trigger i{
        transition: all .5s ease-in;
    }

    .mobile-open .mobile-trigger i{
        background:transparent;
        transition: all .1s ease-in;
    }

    .mobile-trigger i:before,
    .mobile-trigger i:after{
        transition: all .3s ease-in;
    }

    .mobile-open .mobile-trigger i:before {
        top: 0;
        transform: rotate(45deg);
        background:#ffffff;
    }

    .mobile-open .mobile-trigger i:after{
        top: 0;
        transform: rotate(-45deg);
        background:#ffffff;
    }

    .custom-menu-primary.js-enabled{
        position: absolute;
        padding-top: 0;
        margin: 10px 0 10px 0;
        left: 0;
        right: 0;
        top: 0;
        margin:0;
    }

    body .header-container-wrapper .pth-header .logo{
        max-width:190px;
        float:left;
        margin-top:0;
        margin-left:20px;
    }

    .custom-menu-primary .hs-menu-wrapper>ul li {
        border-top: 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    }

    .child-trigger i, .child-trigger i:after {
        background-color: #000;
    }

    .custom-menu-primary.js-enabled .hs-menu-wrapper{
        margin: 0;
        z-index: 1;
        box-shadow: 0px 0px 1px #1d1d1d;
        padding: 10px 6px 10px 20px;
        z-index: 11;
        top:49px;
        box-sizing: border-box;
    }

    body .header-container-wrapper .pth-header ul>li{
        border:0;
        background:transparent;
    }

    .custom-menu-primary .hs-menu-wrapper>ul>li a {
        font-size: 14px;
        padding:0;
        color:#000;
        font-weight: 500;
    }

    .custom-menu-primary .hs-menu-wrapper>ul>li a:hover{
        color:#000;
    }

    body .row-fluid .custom-menu-primary .hs-menu-wrapper>ul ul li a {
        font-size: 14px;
        text-indent:0;
    }

    .child-trigger {
        border-left: 0;
    }

    body .row-fluid .pth-header .custom-menu-primary .hs-menu-wrapper>ul li.hs-menu-depth-1 .hs-menu-children-wrapper {
        padding: 0 0 0 15px;
        position: relative !important;
        left: 0 !important;
    }
    .pth-header .custom-menu-primary .hs-menu-wrapper>ul li.hs-menu-depth-1 .hs-menu-children-wrapper:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 12px;
        top: 10px;
        width: 1px;
        background: rgba(0, 0, 0, 0.33);
    }

    .pth-header .head-cta a.cta_button{
        display:none;
    }
    body .row-fluid .pth-header .contact-info {
        display:none;
    }
    body .row-fluid .pth-header .header-logo {
        width: 160px;
        float: left;
        text-align:left;
    }
    .pth-header {
        padding:12px 0;
    }
    ​
}
​