<div class="span12 client_section_wd_20 section-padding" style="background:{{ module.add_background_color }} url('{{ module.add_background_image.src }}')no-repeat;background-position:top center;background-size:cover;">
    <div class="wrapper">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="section-heading">
                    <h2></h2>
                </div>
            </div>
        </div>
        <div class="outer-layer">
            <div class="row-fluid-wrapper">
                <div class="row-fluid">
                    {% for item in module.add_clients_group %}
                    <div class="image-section">
                        <img src="{{ item.add_image.src }}"
                             alt="{{ item.add_image.alt }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .client_section_wd_20 .outer-layer button.slide-arrow.prev-arrow2.slick-arrow{
        outline: none;
        border: none;
        background: none;

    }
    .client_section_wd_20 .outer-layer button.slide-arrow.prev-arrow2.slick-arrow{
        outline: none;
        border: none;
        background: none;

    }
    @media (min-width: 768px) and (max-width: 1023px) {
        .client_section_wd_20 .outer-layer-slick button.slide-arrow.prev-arrow2.slick-arrow{
            left: -5%;
            top: 9%;

        }
        .client_section_wd_20 .outer-layer-slick button.slide-arrow.next-arrow2.slick-arrow{

            right: -2.2%;
            top: 9%;
        }
    }
    @media (min-width: 1024px) and (max-width: 1300px) {
        .client_section_wd_20 .outer-layer-slick button.slide-arrow.prev-arrow2.slick-arrow{
            left: -5%;
            top: 9%;

        }
        .client_section_wd_20 .outer-layer-slick button.slide-arrow.next-arrow2.slick-arrow{
            right: -2.2%;
            top: 9%;
        }
    }
    @media (min-width: 1024px) {
        .client_section_wd_20 h2 {
            margin: 0;
            padding: 0 0 50px;
        }

    }

</style>


<div class="span12 content_section_wd_33 section-padding" style="background:{{ module.add_background_color }} url('{{ module.add_background_image.src }}')no-repeat;background-position:top center;background-size:cover;">
    <div class="wrapper equal-height-container">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="section-heading">
                    <h1>
                        {{ module.add_heading }}
                    </h1>

                </div>
            </div>
        </div>
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="span7 left-col">
                    {% for item in module.add_left_col_group %}
                    <div class="row-fluid-wrapper">
                        <div class="row-fluid">
                            <div class="span2">
                                <div class="image-section">
                                    <img src="{{ item.add_image.src }}"
                                         alt="{{ item.add_image.alt }}">
                                </div>
                            </div>
                            <div class="span10">
                                <div class="text-section">
                                    <h4>
                                        {{ item.add_heading_left_col }}
                                    </h4>
                                    <p>{{ item.add_description_left_col }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="span5 right-col">
                    <div>
                        <h4>{{ module.add_heading_right_col }}</h4>
                        <p>{{ module.add_description_right_col }}</p>
                        <ul>
                            {% for item in module.add_right_col_list_group %}
                            <li>
                                <form>
                                    <input type="radio" id="radio">{{ item.add_right_col_list }}
                                    <label for="radio"></label>
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="button-section">
                    {% cta guid="{{ module.add_button }}" %}
                </div>
            </div>
        </div>
    </div>



