/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/

/* These includes are optional, but helpful. */



/*****************************************/
/* Start your style declarations here    */
/*****************************************/

/*==================================================================
   Hero Section WD 1 Styling
=====================================================================*/


/* css variable for mobile padding */
:root {
    --mobile-padding: 0 0 40px;
}
.hero_section_wd_1.our-clients .wrapper .logo-section {
    position: relative;
}
.hero_section_wd_1 .wrapper .logo-section:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #ffffff, #000000 52%, #ffffff);
    border-image-slice: 1;
    width: 100%;
    margin: 0 auto;
    top: 0;
}
/* button spacing */
.hero_section_wd_1 .wrapper .button .left-button .cta_button {
    margin: 0 26px 0 0;
}
@media (min-width: 1024px) {
    .hero_section_wd_1 .left-col h1{
        margin: 0;
        padding: 0 0 26px;
    }
    .hero_section_wd_1 .left-col p{
        margin: 0;
        padding: 0 0 30px;
    }
}
@media (min-width: 768px) {
    .hero_section_wd_1.our-clients .logo-section {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero_section_wd_1.our-clients .wrapper .logo-section .each-logo{
        padding: 17px 59px 0 0;
    }
    .hero_section_wd_1.our-clients{
        padding: 0 0 64px;
    }
    .hero_section_wd_1{
        position: relative;
    }
    .hero_section_wd_1 .right-col {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}
@media (max-width: 767px) {
    body .container-fluid .row-fluid .hero_section_wd_1 .span6.right-col {
        margin: 0 0 40px;
        min-height: 324px;
        max-width: 75%;
    }
    .hero_section_wd_1.our-clients{
        padding: 0 0 60px;
    }
    .hero_section_wd_1.our-clients .wrapper .logo-section {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .hero_section_wd_1.our-clients .wrapper .logo-section{
        text-align: center;
    }
    .hero_section_wd_1.our-clients .wrapper .logo-section .each-logo{
        padding: 20px 0 0;

        flex-basis: 50%;
        -webkit-flex-basis: 50%;
        margin: 0;
    }
    .hero_section_wd_1.our-clients .wrapper .logo-section:before {
        top: 0;
        left: 0;
    }
}
@media (max-width: 567px) {
    .hero_section_wd_1.our-clients .wrapper .logo-section {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    body .container-fluid .row-fluid .hero_section_wd_1 .right-col {
        max-width: 80%;
    }
}
@media (max-width: 480px) {
    .hero_section_wd_1 .wrapper .button .left-button  .cta_button {
        margin: 0 0 20px;
    }
}

/*==================================================================
   End Of Hero Section WD 1 Styling
=====================================================================*/


/*==================================================================
   Hero Section WD 2 Styling
=====================================================================*/



.hero_section_wd_2 .slick-slide:focus{
    outline:none;
}
.hero_section_wd_2 ul.slick-dots {
    text-align: center;
    padding-left: 0px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    border-radius: 20px;
    padding: 16px 0;
}
.hero_section_wd_2 .slick-dots li{
    margin: 1px 0;
    padding: 0 18px;
}
.hero_section_wd_2 .slick-dots li.slick-active button {
    width: 9px;
    height: 9px;
    opacity: 1;
    background:#000;
}
.hero_section_wd_2 .slick-dots li button:hover{
    background: #8f8f8f;
}

.hero_section_wd_2 .slick-dots li button {
    font-size: 1px;
    color: transparent;
    padding: 0;
    border: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #294D5C;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.hero_section_wd_2 button.slide-arrow.prev-arrow1.slick-arrow{
    background: url('https://cdn2.hubspot.net/hubfs/6203144/Pattern%20Library/Image/up%20arrow.svg') no-repeat;
    font-size: 1px;
    color: transparent;
    padding: 0;
    border: 0;
    width: 12px;
    height: 7px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 86px;
    outline: none;
    z-index: 1;
}
.hero_section_wd_2 button.slide-arrow.next-arrow1.slick-arrow{
    background: url('https://cdn2.hubspot.net/hubfs/6203144/Pattern%20Library/Image/down%20arrow.svg') no-repeat;
    font-size: 1px;
    color: transparent;
    padding: 0;
    border: 0;
    width: 12px;
    height: 7px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    position: absolute;
    right: 17px;
    top: 205px;
    z-index: 1;
    outline: none;
}
.hero_section_wd_2 .slick-dots li:focus,.hero_section_wd_2 .slick-dots li.slick-active button:focus {
    outline: none;
}
.hero_section_wd_2 .slick-dots li:before {
    display: none;
}
.hero_section_wd_2 .inner-layer {
    max-width: 586px;
    width: 100%;

}
@media (min-width: 1024px) {
    .hero_section_wd_2 ul.slick-dots {
        top: 56px;
    }
}
@media (max-width: 1023px) {
   .hero_section_wd_2 button.slide-arrow.prev-arrow1.slick-arrow{
        top: 46px;
    }
   .hero_section_wd_2 button.slide-arrow.next-arrow1.slick-arrow{
        top: 153px;
    }
    .hero_section_wd_2 ul.slick-dots {
        top: 17px;
    }
}
@media (min-width: 768px) {
    .hero_section_wd_2 .slick-slider-loop .inner-layer .text-section h1{
        padding: 0 0 30px;
        margin: 0;
    }
    .hero_section_wd_2 .slick-slider-loop .inner-layer .text-section p{
        padding: 0 0 36px;
        margin: 0;
    }
}
@media (max-width: 720px) {
    .hero_section_wd_2 .inner-layer {
        max-width: 80%;
    }
}

/*==================================================================
   End Of  Hero Section WD 2 Styling
=====================================================================*/

/*==================================================================
   Hero Section WD 23 Styling
=====================================================================*/
.hero_section_wd_23 .single-col {
    max-width: 963px;
    margin: 0 auto;

}
.hero_section_wd_23 .single-col h1{
    padding: 0 0 20px;
    margin: 0;
}
.hero_section_wd_23 .single-col p{
    padding: 0 0 35px;
    margin: 0;
}
.hero_section_wd_23 .single-col hr{
    border: 1px solid;
}
.hero_section_wd_23 .single-col .video-section {
    padding: 31px 0 20px;

}
.hero_section_wd_23 .single-col .video-section  img{
    cursor: pointer;

}
.hero_section_wd_23 .single-col .down-arrow{
    padding: 133px 0 0;
}
.hero_section_wd_23 .single-col .down-arrow img{
    cursor: pointer;
}

@media (min-width: 1024px) {
    .hero_section_wd_23 .single-col hr{
        margin: 0;
}
}

/*==================================================================
   End Of  Hero Section WD 23 Styling
=====================================================================*/

/*==================================================================
   Hero Section WD 24 Styling
=====================================================================*/


.hero_section_wd_24 .left-col .text-section h1{
    padding: 0 0 30px;
    margin: 0;
}
.hero_section_wd_24 .left-col .text-section p{
    padding: 0 0 39px;
    margin: 0;
}
.hero_section_wd_24 .left-col  .hero-section-button{
    padding: 0 0 30px;
    margin: 0;
}
/* play button styling  right arrow  */
.hero_section_wd_24 .left-col .simple-cta a{
    background: url(https://cdn2.hubspot.net/hubfs/6203144/Pattern%20Library/Image/right%20arrow.svg);
    background-repeat: no-repeat;
    background-position: 99.6%;
    padding: 10px 32px;
}
@media (min-width: 768px) {
    .hero_section_wd_24 .right-col .image-section{
        text-align: center;
    }
}
@media (min-width: 1024px){
    .hero_section_wd_24 .left-col .section-heading{
        max-width: 593px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    background-position: 60.6%;
}
@media (max-width: 767px) {
    .hero_section_wd_24 .wrapper  .right-col{
        padding: 0 0 40px;
    }
    .hero_section_wd_24 .wrapper .right-col .image-section img{
        display: block;
        margin: 0 auto;
    }
}



/*==================================================================
   End Of Hero Section WD 24 tyling
=====================================================================*/

/*==================================================================
  Hero Section WD 34  Styling
=====================================================================*/

.hero_section_wd_34 .left-col .form-section .hubspot-link__container.sproket{
    display: none;
}
body .row-fluid .hubspot-link__container.sproket{
    display: none;
}
.hero_section_wd_34 .left-col .form-section form .hs-button.primary{
    width: 100%;
    margin: 0;
}
@media (min-width: 1024px) {
    .hero_section_wd_34 .left-col .text-section {
        padding: 63px 0 55px;
    }
    .hero_section_wd_34 .text-section h1{
      margin: 0;
      padding: 0 0 20px;
      }
      .hero_section_wd_34 .text-section p{
        margin: 0;
      }
}
@media (min-width: 768px) {

    .hero_section_wd_34 {
        position: relative;
    }
    .hero_section_wd_34 .right-col{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        max-width: 50vw;
    }
    .hero_section_wd_34 .left-col .form-section form input {
      margin: 0 0 11px;
    }
  .hero_section_wd_34 .left-col .form-section form .field>label{
    margin: 0;
  }
      .hero_section_wd_34 .left-col .form-section p {
      text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .hero_section_wd_34 .left-col .text-section {
        padding: 0;
    }
    .hero_section_wd_34 .left-col .text-section h1{
        padding: 0 0 20px;
        margin: 0;
    }

}


@media (max-width: 767px) {
    body .container-fluid .row-fluid .hero_section_wd_34 .right-col {
        margin: var(--mobile-padding);
        min-height: 50vh;
    }
}
/*==================================================================
   End Of  Hero Section WD 34 Styling
=====================================================================*/
/*==================================================================
    Hero Section WD 30 Styling
=====================================================================*/

@media (min-width: 768px) {
    .hero_section_wd_30 .single-col .form-section{
        position: relative;
    }
    .hero_section_wd_30 .single-col .form-section input{
        float: left;
        width: 35.4%;
        margin-right: 25px;
    }
    .hero_section_wd_30 .single-col .form-section .hs-button.primary.large{
        margin: 0;
        width:13%;
        font-size: 11px;
        padding: 15px 24px;
    }
    .hero_section_wd_30 .image-container{
        margin: 222px 0 0;
    }
    .hero_section_wd_30 .image-container .image-section{
        margin: -150px 0 0;

    }



}
@media (max-width: 767px) {
    .hero_section_wd_30.section-padding.change-mobile{
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .hero_section_wd_30 .image-container{
        margin: 150px 0 40px;
    }
    .hero_section_wd_30 .image-container .image-section{
        margin: -150px 0 0;

    }
}
/*==================================================================
   End Of  Hero Section WD 30 Styling
=====================================================================*/

/*==================================================================
    Content Section WD 3 Styling
=====================================================================*/

.content_section_wd_3 .inner-layer .single-card{
    box-sizing: border-box;
    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin:0 0 29px 29px;
    position: relative;


}
.content_section_wd_3 .inner-layer .single-card hr {
    border: 1px solid;
    margin-bottom:13px;

}
.content_section_wd_3 .inner-layer .single-card .image-text{
    padding: 55px 16px 0 25px;

}
.content_section_wd_3 .inner-layer .single-card .button-section a{
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    text-align: center;

}
.content_section_wd_3 .inner-layer .single-card .button-section {
    text-align: center;
    padding: 0 0 17px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.content_section_wd_3 .inner-layer .single-card .text-section{
    padding: 32px 0 75px;
}
.content_section_wd_3 .inner-layer .single-card .image-section img{
    height: 38px;
    width: 38px;
}
@media (min-width: 1024px) {
    .content_section_wd_3 .inner-layer .single-card{
        flex-basis: 22.7%;
        -webkit-flex-basis:  22.7%;
        float: left;
        box-sizing: border-box;
        position: relative;
    }
    .content_section_wd_3 .inner-layer .single-card:nth-child(4n+1){
        margin-left: 0;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .content_section_wd_3 .inner-layer .single-card{
        flex-basis: 30.5%;
        -webkit-flex-basis:  30.5%;
        float: left;

    }
    .content_section_wd_3 .inner-layer .single-card:nth-child(3n+1){
        margin-left: 0;
    }
}
@media (min-width: 576px) {
    .content_section_wd_3 .inner-layer {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        -wevkit-flex-wrap: wrap;
        flex-direction: row;
        -webkit-flex-direction: row;
        -wevkit-flex-wrap: wrap;
        flex-direction: row;
        -webkit-flex-direction: row;
        margin-right: -2.565%;
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .content_section_wd_3 .inner-layer .single-card{
        flex-basis: 46.9%;
        -webkit-flex-basis:  46.9%;
        float: left;
    }
    .content_section_wd_3 .inner-layer .single-card:nth-child(2n+1){
        margin-left: 0;
    }
}
@media (max-width: 575px){
    .content_section_wd_3 .inner-layer .single-card{

        margin: 0 0 30px;
    }

}
/*==================================================================
   End Of  Content Section WD 3 Styling
=====================================================================*/


/*==================================================================
   Content Section WD 7Styling
=====================================================================*/
/* for li styling */
.content_section_wd_7 .text-section .list ul li:before{
    content: '';
    background: #000;
    width: 7px;
    height: 7px;
    border-radius: 50%;

}

@media (min-width: 768px) {
    .content_section_wd_7{
        position: relative;

    }
    .content_section_wd_7:before{
        position: absolute;
        content: "";
        left: 0px;
        width: 31%;
        background: #fff;
        top: 0px;
        bottom: 0px;
    }
    .content_section_wd_7 .image-section img{
        position: relative;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .content_section_wd_7:before{

        width: 22%;

    }
}
@media (min-width: 1024px) and (max-width: 1399px){
    .content_section_wd_7:before{

        width: 22%;

    }
}
@media (min-width: 2000px) {
    .content_section_wd_7:before{

        width: 36%;

    }
}
@media (min-width: 3000px) {
    .content_section_wd_7:before{

        width: 40%;

    }
}
@media (max-width: 767px) {
    .content_section_wd_7{
        width: 100%;
        background: #f7f5f5;
    }
    body .container-fluid .row-fluid .content_section_wd_7.change-mobile .wrapper .row-fluid-wrapper>.row-fluid {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .content_section_wd_7 .image-section{
        padding: 0 0 40px;
    }
}




/*==================================================================
   End Of Content Section WD 7Styling
=====================================================================*/



/*==================================================================
    Content Section WD 18 Styling
=====================================================================*/

.content_section_wd_18 .inner-layer .single-card{
    box-sizing: border-box;
    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    position: relative;
    padding: 39px 33px 31px 36px;
    transition: all 0.2s linear;
    -webkit-transition: all .2s linear;


}

.content_section_wd_18 .inner-layer .single-card .hover-text .text-highlight .text-section{

    padding: 33px 0 20px;
}
.content_section_wd_18 .inner-layer .single-card .hover-text .text-highlight .text-section h4{
    margin-bottom: 17px;
}

.content_section_wd_18 .inner-layer .single-card .image-text .text-section{
    padding: 27px 0 18px;
}

.content_section_wd_18 .inner-layer .hover-text{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 45px 40px 36px;;
}
.content_section_wd_18 .inner-layer .hover-text .text-highlight{
    position: relative;
    z-index: 1;
}
.content_section_wd_18 .inner-layer .hover-text:hover{
    opacity: 1;
}

.content_section_wd_18 .inner-layer .single-card .image-section img{
    height: 38px;
    width: 38px;
}
@media (min-width: 1024px) {
    .content_section_wd_18 .inner-layer .single-card{
        flex-basis: 28.5%;
        -webkit-flex-basis:  28.5%;
      -ms-flex-preferred-size: 23.3%;
        float: left;
        margin:0 0 0 71px;

    }
    .content_section_wd_18 .inner-layer .single-card:nth-child(3n+1){
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .content_section_wd_18 .inner-layer .single-card{
        flex-basis: 45%;
        -webkit-flex-basis:  45%;
      -ms-flex-preferred-size: 30%;
        float: left;
        margin: 0 0 40px 71px;

    }
    .content_section_wd_18 .inner-layer .single-card:nth-child(2n+1){
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .content_section_wd_18 .inner-layer {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        -wevkit-flex-wrap: wrap;
        flex-direction: row;
        -webkit-flex-direction: row;
        width: 100%;
    }
    /* hover on each card */
    .content_section_wd_18 .inner-layer .single-card:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}

@media (max-width: 767px){
    .content_section_wd_18 .inner-layer .single-card{

        margin: 0 0 40px;
    }

}
/*==================================================================
   End Of  Content Section WD 18Styling
=====================================================================*/
/*==================================================================
    Content Section WD 15 Styling
=====================================================================*/

.content_section_wd_15 .text-section .two-col-text ul li{
    position: relative;
}
.content_section_wd_15 .text-section .two-col-text ul li:before {
    position: absolute;
    background: url('https://cdn2.hubspot.net/hubfs/6203144/Pattern%20Library/Image/Content%20Section/arrow%20check.svg') no-repeat;
    content: '';
    width: 14px;
    height: 14px;
    left: -20px;
    top: 4px;

}
.content_section_wd_15 .button-section a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}
@media (min-width: 1024px) {
    .content_section_wd_15 .text-section h2 {
        max-width: 209px;
    }

    .content_section_wd_15 .text-section .two-col-text{
        width: 80%;
    }
    .content_section_wd_15 .text-section .two-col-text {
        padding: 38px 0 44px;


    }
    .content_section_wd_15 .button-section {
        padding: 41px 0 0;

    }
}
@media (max-width: 768px) {

    /*     .content_section_wd_15 .text-section{
            text-align: center;

        } */
    .content_section_wd_15 .image-section{
        text-align: center;
        margin: 0 auto;
        display: block;
        padding: 0 0 40px;

    }
}
/*==================================================================
   End Of  Content Section WD 15 Styling
=====================================================================*/

/*==================================================================
    Content Section WD 23 Styling
=====================================================================*/
.content_section_wd_23 .outer-layer .single-card{
    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #000000;
    background-color: #ffffff;
    margin: 0 0 35px 35px;
    padding: 44px 16px;
    border-radius: 8px;

}
.content_section_wd_23 .outer-layer .single-card .image-section img{
    height: 74px;
    width: 74px;
    margin: 0 0 33px 0;
}
.content_section_wd_23 .single-col-card-section{

    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #000000;
    background-color: #ffffff;
    padding: 44px 0 44px 60px;
}

@media (min-width:576px ){
    .content_section_wd_23 .outer-layer {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        -wevkit-flex-wrap: wrap;
        flex-direction: row;
        -webkit-flex-direction: row;
        width: 100%;

    }
}
@media (min-width: 1024px) {
    .content_section_wd_23 .outer-layer .single-card {
        flex-basis: 17.1%;
        -webkit-flex-basis: 17.1%;
        -ms-flex-preferred-size: 14%;
        float: left;

    }
    .content_section_wd_23 .outer-layer .single-card:nth-child(5n+1) {
        margin-left: 0;
    }


}
@media (min-width: 768px) and (max-width: 1023px) {
    .content_section_wd_23 .outer-layer .single-card {
        flex-basis: 30%;
        -webkit-flex-basis: 30%;
        float: left;

    }
    .content_section_wd_23 .outer-layer .single-card:nth-child(3n+1) {
        margin-left: 0;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .content_section_wd_23 .outer-layer .single-card {
        flex-basis: 46.5%;
        -webkit-flex-basis: 46.5%;
        float: left;

    }
    .content_section_wd_23 .outer-layer .single-card:nth-child(2n+1) {
        margin-left: 0;
    }
}
@media (min-width: 768px) {

    .content_section_wd_23 .single-col-card-section .span5{
        position: relative;
        top: 22%;
    }
    .content_section_wd_23 .single-col-card-section .span5 .button-section{
        position: absolute;
        right: 12%;
        top: inherit;
    }
}
@media (max-width: 768px) {
    .content_section_wd_23 .single-col-card-section{
        text-align: center;
    }
    .content_section_wd_23 .single-col-card-section{
        padding: 40px;
    }

}
@media (max-width: 575px) {
    .content_section_wd_23 .outer-layer .single-card {
        margin-left: 0;
    }

}

/*==================================================================
   End Of  Content Section WD 23 Styling
=====================================================================*/

/*==================================================================
    Content Section WD 40 Styling
=====================================================================*/

.content_section_wd_40 .button-section a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;

}
.content_section_wd_40 .span6.align-center .text-section{
    padding: 20px 0 0;
}

@media (min-width: 576px) {
    .content_section_wd_40 .align-center .text-section {
        max-width: 85%;
        margin: 0 auto;
    }
}
@media (min-width: 768px) {
    .content_section_wd_40 .span6.align-center:first-child:after{
        border-right: 1px solid;
        content: '';
        position: absolute;
        top: 25%;
        right: 0;
        height: 54%;
    }
    .content_section_wd_40 .span6.align-center:first-child {
        position: relative;
    }
}
@media (max-width: 767px) {

    .content_section_wd_40 .span6.align-center {
        padding: 0 0 40px;
    }


}
/*==================================================================
   End Of  Content Section WD 40 Styling
=====================================================================*/

/*==================================================================
 Content Section WD 39 Styling
=====================================================================*/


.content_section_wd_39 .inner-layer .single-card{
    box-sizing: border-box;
    padding:40px 15px 50px;


}
.content_section_wd_39 .inner-layer .single-card .text-section{
    padding: 29px 0 0;
}
.content_section_wd_39 .inner-layer .single-card .image-section img{
    height: 38px;
    width: 38px;
}
@media (min-width: 1024px) {
    .content_section_wd_39 .inner-layer .single-card{
        flex-basis: 25%;
        -webkit-flex-basis:  25%;
      -ms-flex-preferred-size: 22.6%;
        float: left;
        border-right: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;
    }
    .content_section_wd_39 .inner-layer .single-card:nth-child(4n+1){
        padding-left: 0;
    }
    .content_section_wd_39 .inner-layer .single-card:nth-child(4n){
        border-right: none;
    }
    .content_section_wd_39 .inner-layer .single-card:nth-last-child(1) {
        border-bottom: none;
        margin: 0 auto;
        margin-left: 0
    }
    .content_section_wd_39 .inner-layer .single-card:nth-last-child(2) {
        border-bottom: none;
        margin: 0 auto;
        margin-right: 0;
        border-left: 2px solid #e7e7e7;
        padding-left: 15px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .content_section_wd_39 .inner-layer .single-card{
        flex-basis: 33.3%;
        -webkit-flex-basis:  33.3%;
        float: left;

        border-right: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;

    }
    .content_section_wd_39 .inner-layer .single-card:nth-child(3n+1){
        padding-left: 0;
    }
    .content_section_wd_39 .inner-layer .single-card:nth-child(3n){
        border-right: none;
    }
    .content_section_wd_39 .inner-layer .single-card:nth-last-child(1) {
        border-bottom: none;
    }
    .content_section_wd_39 .inner-layer .single-card:nth-last-child(2) {
        border-bottom: none;
    }
}
@media (min-width: 576px) {
    .content_section_wd_39 .inner-layer {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        -wevkit-flex-wrap: wrap;
        flex-direction: row;
        -webkit-flex-direction: row;
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .content_section_wd_39 .inner-layer .single-card{
        flex-basis: 50%;
        -webkit-flex-basis:  50%;
        float: left;

        border-right: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;
    }
    .content_section_wd_39 .inner-layer .single-card:nth-child(2n+1){
        padding-left: 0;
    }
    .content_section_wd_39 .inner-layer .single-card:nth-child(2n){
        border-right: none;
    }
    .content_section_wd_39 .inner-layer .single-card:nth-last-child(1) {
        border-bottom: none;
    }
    .content_section_wd_39 .inner-layer .single-card:nth-last-child(2) {
        border-bottom: none;
    }
}
@media (max-width: 575px){
    .content_section_wd_39 .inner-layer .single-card{
        border-bottom: 2px solid #e7e7e7;
        box-sizing: border-box;
        padding:0 15px;

        margin: 0 0 30px;
    }
    .content_section_wd_39 .inner-layer .single-card:nth-last-child(1) {
        border-bottom: none;
    }
}
/*==================================================================
   End Of  Content Section WD 39 Styling
=====================================================================*/

/* own anchor tag button styling */
.content_section_wd_3 .inner-layer .single-card .button-section a:hover,
.content_section_wd_15 .button-section a:hover {
    color: #fff;
    background: #000;
    padding: 14px 25px;
}
.hero_section_wd_23 .single-col .video-button a:hover, .hero_section_wd_24 .left-col .play-button a:hover{
    color: #ffa500;
}

.hero_section_wd_23 .single-col .video-button a:active, .hero_section_wd_24 .left-col .play-button a:active{
    color: #228b22;
}

/*==================================================================
 Content Section WD 33 Styling
 =====================================================================*/
.content_section_wd_33 .left-col .image-section img{
    height: 37px;
    width: 37px;
    display: block;
    margin: 0 auto;
}
.content_section_wd_33 .right-col li:before{
    content: '';
    display: block;
}
.content_section_wd_33 .right-col form input {

    height: 14px;
    width: 14px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: 1px solid;

    margin-right: 12px;
}
.content_section_wd_33 .right-col form input[type="radio"]:checked{
    background: #000;
    position: relative;
}
.content_section_wd_33 .right-col form input[type="radio"]:checked:after{
    position: relative;
    display: inline-block;
    content: '\f00c';
    font-family: FontAwesome;
    left: 0;
    color: #fff;
    top: -3px;
    width: 1px;
    font-size: 12px;
}
@media (min-width: 768px) {
    .content_section_wd_33 .button-section{
        margin: 0 auto;
    }
}
@media (min-width: 1024px) {
    .content_section_wd_33 .section-heading{
        max-width: 959px;
        margin: 0 auto;
        text-align: center;
        padding: 0 0 117px;
    }
    .content_section_wd_33 .left-col .text-section h4{
        margin: 0;
        padding: 0 0 18px;

    }
    .content_section_wd_33 .left-col .text-section p{
        margin: 0;
        padding: 0 0 50px;

    }
    body .row-fluid .content_section_wd_33 .left-col .image-section img{

        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .content_section_wd_33 .left-col .image-section {
        float: left;
        margin-right: 10px;
    }
}
/*==================================================================
   End Of  Content Section WD 33 Styling
=====================================================================*/

/*==================================================================
   Team Section WD 20 Styling
=====================================================================*/
/* social icons styling */
.team_section_wd_20 .vertical-center .social-icons i {
    margin: 0 16px 0 0;
    font-size: 24px;

}

@media (min-width: 768px) {

    .team_section_wd_20 .vertical-center h5{
        margin: 0;
    }

    .team_section_wd_20 .vertical-center p{
        padding: 38px 0 29px;
        margin: 0;
    }

}
@media (max-width: 767px) {
    body .container-fluid .row-fluid  .team_section_wd_20.change-mobile .wrapper .row-fluid-wrapper>.row-fluid {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .team_section_wd_20 .left-col {
        padding: 0 0 40px;
    }
    .team_section_wd_20 .left-col .image-section img{
        display: block;
        margin: 0 auto;
    }
    .team_section_wd_20 .right-col {
        text-align: center;
    }
}
/*==================================================================
   End Of  Team Section WD 20 Styling
=====================================================================*/

/*==================================================================
   Team Section WD 18 Styling
=====================================================================*/

body .row-fluid .team_section_wd_18 .section-heading.align-center {
    max-width: 770px;
}
.team_section_wd_18 .outer-layer .inner-layer {
    position: relative;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}
/* anchor tag styling */
.team_section_wd_18 .outer-layer .inner-layer .hover-text .text-highlight .button-section a{
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
/* social icons styling */
.team_section_wd_18 .outer-layer .inner-layer .hover-text .text-highlight .social-icons i {
    margin: 0 16px 0 0;
    font-size: 24px;

}
/*hover text styling*/
.team_section_wd_18 .outer-layer .inner-layer .hover-text {
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #000;
    text-align: center;
    -webkit-transition:  0.3s;
    -o-transition:  0.3s;
    transition:  0.3s;
}
.team_section_wd_18 .outer-layer .inner-layer .hover-text .text-highlight{
    position: relative;
    z-index: 1;
}
.team_section_wd_18 .outer-layer .inner-layer .hover-text:hover{
    opacity: 1;
}

@media (min-width: 1024px) {
    .team_section_wd_18 .outer-layer .inner-layer {
        flex-basis: 30.8%;
        -webkit-flex-basis: 30.8%;
        float: left;
        margin: 0 0 34px 37px;

    }
    .team_section_wd_18 .outer-layer .inner-layer:nth-child(3n+1) {
        margin-left: 0;
    }

}
@media (min-width: 768px) {
    .team_section_wd_18 .outer-layer{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        -wevkit-flex-wrap: wrap;
        flex-direction: row;
        -webkit-flex-direction: row;
        width: 100%;
    }
    .team_section_wd_18 .outer-layer .inner-layer .hover-text .text-highlight .social-icons{
        padding: 24px 0 32px;
    }
    .team_section_wd_18 .outer-layer .inner-layer .hover-text .text-highlight h6{
        margin: 0;
    }
    .team_section_wd_18 .outer-layer .inner-layer .hover-text {
        padding: 97px 34px 102px;

    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .team_section_wd_18 .outer-layer{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        -wevkit-flex-wrap: wrap;
        flex-direction: row;
        -webkit-flex-direction: row;
    }
    .team_section_wd_18 .outer-layer .inner-layer {
        flex-basis: 47.4%;
        -webkit-flex-basis:  47.4%;
        float: left;
        margin: 0 0 34px 37px;

    }
    .team_section_wd_18 .outer-layer .inner-layer:nth-child(2n+1) {
        margin-left: 0;
    }
    .team_section_wd_18 .outer-layer .inner-layer .image-section img {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .team_section_wd_18 .outer-layer .inner-layer .image-section img {
        width: 100%;
    }
    .team_section_wd_18 .outer-layer .inner-layer {
        padding: 0 0 40px;
    }
    .team_section_wd_18 .outer-layer .inner-layer .hover-text {
        bottom: 5%;
    }
    .team_section_wd_18 .outer-layer .inner-layer .hover-text .text-highlight .social-icons{
        padding:10px 0;
    }
    /*             .team_section_wd_18 .outer-layer .inner-layer .hover-text {
                    padding: 97px 34px 102px;
      } */
}
@media (max-width: 575px) {
    .team_section_wd_18 .outer-layer .inner-layer .hover-text {
        bottom: 10.6%;
    }
}



/*==================================================================
End Of  Team Section WD 18 Styling
=====================================================================*/

/*==================================================================
Client Section WD 4 Styling
=====================================================================*/
@media (min-width: 576px) {
    .clients_section_wd_8 .outer-layer .row-fluid{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        -wevkit-flex-wrap: wrap;
        flex-direction: row;
        -webkit-flex-direction: row;
        margin-right: -2.5%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }

}
@media (min-width: 576px){
    .clients_section_wd_8 .outer-layer .inner-layer{
        /*             -ms-flex-preferred-size: 33%; */
        -webkit-flex-basis: 33%;
        flex-basis: 33%

    }
    /*         .clients_section_wd_8 .outer-layer .inner-layer:nth-child(1n){
                text-align: start;
            }  */
    .clients_section_wd_8 .outer-layer .inner-layer:nth-child(3n-1){
        text-align: center;
    }
    .clients_section_wd_8 .outer-layer .inner-layer:nth-child(3n){
        text-align: end;
    }

    .clients_section_wd_8 h5 {
        margin: 0;
        padding: 0 0 20px;
    }
}
@media (min-width: 1024px) {

    .clients_section_wd_8 h5 {
        margin: 0;
        padding: 0 0 40px;
    }

}
@media (max-width: 575px){
    .clients_section_wd_8  {
        text-align: center;

    }
}

/*==================================================================
End Of  Team Section WD 4 Styling
=====================================================================*/

/*==================================================================
Client Section WD 12 Styling
=====================================================================*/


.clients_section_wd_12 .outer-layer .inner-layer .image-section img{
    margin: 0 auto;
    display: block;
    padding: 45px 0;
}
@media (min-width: 576px) {
    .clients_section_wd_12 .outer-layer .row-fluid{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        -wevkit-flex-wrap: wrap;
        flex-direction: row;
        -webkit-flex-direction: row;
    }

}
@media (min-width: 1024px)  {
    .clients_section_wd_12 .outer-layer .inner-layer {
        flex-basis: 25%;
        -webkit-flex-basis:  25%;
        -ms-flex-preferred-size: 24%;
        float: left;
        border-right: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;
    }
    .clients_section_wd_12 .outer-layer .inner-layer:nth-child(4n+1){
        padding-left: 0;
    }
    .clients_section_wd_12 .outer-layer .inner-layer:nth-child(4n){
        border-right: none;
    }
    .clients_section_wd_12 .outer-layer .inner-layer:nth-last-child(-n+4) {
        border-bottom: none;
    }
    .clients_section_wd_12 .outer-layer{
        padding-top: 33px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .clients_section_wd_12 .outer-layer .inner-layer {
        flex-basis: 33.3%;
        -webkit-flex-basis:  33.3%;
        float: left;
        border-right: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;
    }
    .clients_section_wd_12 .outer-layer .inner-layer:nth-child(3n){
        border-right: none;
    }
    .clients_section_wd_12 .outer-layer .inner-layer:nth-last-child(-n+2) {
        border-bottom: none;
    }


}
@media (min-width: 576px) and (max-width: 767px) {
    .clients_section_wd_12 .outer-layer .inner-layer {
        flex-basis: 50%;
        -webkit-flex-basis:  50%;
        float: left;
        border-right: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;
    }
    .clients_section_wd_12 .outer-layer .inner-layer:nth-child(2n){
        border-right: none;
    }
    .clients_section_wd_12 .outer-layer .inner-layer:nth-last-child(-n+2) {
        border-bottom: none;
    }

}
@media (max-width: 575px) {
    .clients_section_wd_12 .outer-layer .inner-layer{
        border-bottom: 2px solid #e7e7e7;
        box-sizing: border-box;
    }
    .clients_section_wd_12 .outer-layer .inner-layer:nth-last-child(1){
        border-bottom: none;
    }

}

/*==================================================================
End Of  Client Section WD 12 Styling
=====================================================================*/

/*==================================================================
Client Section WD 17 Styling
=====================================================================*/
.clients_section_wd_17 .outer-layer .inner-layer .image-section img{
    margin: 0 auto;
    display: block;
    padding: 58px 0;
}
.clients_section_wd_17 .outer-layer .row-fluid{

    background: #fff;
    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid #e0e0e0;
}
@media (min-width: 576px) {
    .clients_section_wd_17 .outer-layer .row-fluid{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        -wevkit-flex-wrap: wrap;
        flex-direction: row;
        -webkit-flex-direction: row;
    }

}
@media (min-width: 1024px)  {
    .clients_section_wd_17 .outer-layer .inner-layer {
        flex-basis: 20%;
        -webkit-flex-basis:  20%;
        -ms-flex-preferred-size: 19.9%;
        float: left;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;

    }
    .clients_section_wd_17 .outer-layer{
        padding-top: 17px;
    }

}


@media (min-width: 768px) and (max-width: 1023px) {
    .clients_section_wd_17 .outer-layer .inner-layer {
        flex-basis: 33.3%;
        -webkit-flex-basis:  33.3%;
        float: left;
        border-right: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }


}
@media (min-width: 576px) and (max-width: 767px) {
    .clients_section_wd_17 .outer-layer .inner-layer {
        flex-basis: 50%;
        -webkit-flex-basis:  50%;
        float: left;
        border-right: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }

}
@media (max-width: 575px) {
    .clients_section_wd_17 .outer-layer .inner-layer{
        border-bottom: 1px solid #e7e7e7;
        box-sizing: border-box;
    }

}
/*==================================================================
End Of  Client Section WD 17 Styling
=====================================================================*/


/*==================================================================
Client Section WD 18 Styling
=====================================================================*/


.client_section_wd_18 .two-col-text-card .right-col .single-card {
    background: #fff;
}
.client_section_wd_18 .two-col-text-card .right-col .single-card .image-section img{
    display: block;
    padding: 70px 24px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .client_section_wd_18 .two-col-text-card{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 100%;
    }
    .client_section_wd_18 .two-col-text-card .left-col{
        flex-basis: 30.4%;
        -webkit-flex-basis: 30.4%;
    }
    .client_section_wd_18 .two-col-text-card .right-col{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-basis: 66.8%;
        -webkit-flex-basis: 66.8%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 29px;
    }
}
@media (min-width: 1024px) {
    .client_section_wd_18 .two-col-text-card .right-col .single-card{
        flex-basis:21.9%;
        -webkit-flex-basis: 21.9%;
        margin: 0 24px 28px 0;

    }
    .client_section_wd_18 .two-col-text-card .right-col .single-card:nth-child(4n){
        margin-right: 0;

    }

}
@media (min-width: 768px) and (max-width: 1023px) {
    .client_section_wd_18 .two-col-text-card .right-col .single-card{
        flex-basis:28%;
        -webkit-flex-basis: 28%;
        margin: 0 24px 28px 0;

    }
    .client_section_wd_18 .two-col-text-card .right-col .single-card:nth-child(3n){
        margin-right: 0;

    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .client_section_wd_18 .two-col-text-card .left-col {
        text-align: center;
        padding: 0 0 40px;
    }
    .client_section_wd_18 .two-col-text-card .right-col{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .client_section_wd_18 .two-col-text-card .right-col .single-card{
        flex-basis:47.7%;
        -webkit-flex-basis: 47.7%;
        margin: 0 24px 28px 0;
    }
    .client_section_wd_18 .two-col-text-card .right-col .single-card:nth-child(2n){
        margin-right: 0;
    }


}
@media (max-width: 575px) {
    .client_section_wd_18 .two-col-text-card .right-col .single-card .image-section img{
        display: block;
        padding: 60px 10px;
        margin: 0 auto;
    }
    .client_section_wd_18 .two-col-text-card .right-col .single-card {
        margin: 0 0 20px;
    }
    .client_section_wd_18 .two-col-text-card .left-col{
        padding: 0 0 40px;

    }


}
/*==================================================================
End of Client Section WD 18 Styling
=====================================================================*/
/*==================================================================
Client Section WD 20 Styling
=====================================================================*/
.client_section_wd_20{
    position: relative;
}

.client_section_wd_20 .outer-layer-slick button.slide-arrow.prev-arrow2.slick-arrow{
    outline: none;
    border: none;
    background: none;
    position: absolute;
    left: -5%;
    top: 9%;

}
.client_section_wd_20 .outer-layer-slick button.slide-arrow.next-arrow2.slick-arrow{
    outline: none;
    border: none;
    background: none;
    position: absolute;
    right: -2.2%;
    top: 9%;
}
.client_section_wd_20 .outer-layer-slick{
    display: flex;
    align-items: center;
    justify-content: center;
}
.client_section_wd_20 .outer-layer-slick .image-section img{
    display: block;
    margin: 0 auto;
}
@media (min-width: 1024px) {
    .client_section_wd_20 h2 {
        margin: 0;
        padding: 0 0 50px;
    }

}
@media (min-width: 1024px) and (max-width: 1300px) {
    .client_section_wd_20 .outer-layer-slick button.slide-arrow.prev-arrow2.slick-arrow{
        left: -2%;
        top: 9%;

    }
    .client_section_wd_20 .outer-layer-slick button.slide-arrow.next-arrow2.slick-arrow{

        right: -2.2%;
        top: 9%;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .client_section_wd_20 .outer-layer-slick button.slide-arrow.prev-arrow2.slick-arrow{
        left: -2%;
        top: 9%;

    }
    .client_section_wd_20 .outer-layer-slick button.slide-arrow.next-arrow2.slick-arrow{

        right: -2.2%;
        top: 9%;
    }
}
/*==================================================================
End of Client Section WD 20 Styling
=====================================================================*/

/*==================================================================
Testimonial Section WD 2 Styling
=====================================================================*/
/*     slick slider and dots  styling */
.slick-slide:focus{
    outline:none;
}
.testimonial_section_wd_2 ul.slick-dots {
    text-align: center;
    padding-left: 0;
}
.testimonial_section_wd_2 .slick-dots li{
    margin: 0 5px;
    display: inline-block;
}
.testimonial_section_wd_2 .slick-dots li.slick-active button {
    width: 18px;
    height: 18px;
    background:#000;
}
.testimonial_section_wd_2 .slick-dots li button:hover{
    background: #000;
}

.testimonial_section_wd_2 .slick-dots li button {
    font-size: 1px;
    color: transparent;
    padding: 0;
    border: 1px solid #000;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.testimonial_section_wd_2 .slick-dots li:focus, .testimonial_section_wd_2 .slick-dots li.slick-active button:focus,
.testimonial_section_wd_2 .slick-dots li button {
    outline: none;
}
.slick-dots li button:before {
    display: none;
}
/*     slick slider images styling */
.testimonial_section_wd_2 .outer-layer-slick1 .inner-layer-slick1 .image-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 18px 20px 0;
}
.testimonial_section_wd_2 .outer-layer-slick1 .inner-layer-slick1 .image-section .left-img img{
    width: 69px;
    height: 69px;
}
.testimonial_section_wd_2 .outer-layer-slick1 .inner-layer-slick1{
    /*     box-shadow: 0 2px 34px 0 rgba(0,0,0,0.12); */
    /*     width: 40%; */
    /*     margin: 0 61px 0 0; */
}
.testimonial_section_wd_2 .outer-layer-slick1 .inner-layer-slick1 .text-section{
    padding: 40px 85px 68px;
}
.testimonial_section_wd_2 .outer-layer-slick1 .inner-layer-slick1 .text-section .headline h6 ,
.testimonial_section_wd_2 .outer-layer-slick1 .inner-layer-slick1 .text-section .headline p{
    display: inline;
    /*     vertical-align: top; */
}
/* .testimonial_section_wd_2 .outer-layer-slick1 .inner-layer-slick1 .text-section .headline p{
    vertical-align: -webkit-baseline-middle;
} */
@media (min-width: 1024px) {
    .testimonial_section_wd_2 .section-heading h2{
        padding: 0 0 100px;
        margin: 0;
    }
    .testimonial_section_wd_2 ul.slick-dots {
        padding: 100px 0 0;
        margin: 0;
    }
}


/*==================================================================
End of  Testimonial Section WD 2 Styling
=====================================================================*/
.faqs-wd-5 .question-answer-section hr{
    border-color: #000;
}
.faqs-wd-5 .questions-section p a{
    text-decoration: none;
}
/*     border styling */

@media (min-width: 1024px){
    .faqs-wd-5 .question-answer-section hr{
        margin: 0;
    }
    .faqs-wd-5 .question-answer-section h5{
        margin: 0;
        padding: 0 0 26px;
    }
    .faqs-wd-5 .question-answer-section{
        margin: 0;
        padding: 0 0 50px;
    }
}
@media (max-width: 767px) {
    .faqs-wd-5 .questions-section {
        padding: var(--mobile-padding);
        text-align: center;
    }
}







/* @import url('http://example.com/example_style.css'); */

@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/

/* These includes are optional, but helpful. */



/*****************************************/
/* Start your style declarations here    */
/*****************************************/



/*--------- Theme Base Colors ----------*/

{% set baseColor = '#000000' %}
{% set baseFontColor = '#808080' %}
{% set headingFontColor = '#000000' %}
{% set buttonTextColor = '#ffffff' %}
{% set buttonBackgroundColor = '#000000' %}
{% set buttonHoverTextColor = '#ffffff' %}
{% set buttonHoverBackgroundColor = '#000000' %}
{% set headingFontColor = '#000000' %}
{% set navColor = '#fff' %}



/*--------- Font Family ----------*/

{% set baseFontFamily = "'Rubik', sans-serif;" %}
body{
    padding:0;
    font-size: 16px;
    line-height: 1.63;
    font-weight:400;
    letter-spacing: 0.3px;
font-family:{{ baseFontFamily }};
color:{{ baseFontColor }};
overflow-x:hidden;
-webkit-font-smoothing: antialiased;
width:100%;
margin:0 auto;
max-width:100%;
}

body  .wrapper{
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    float: none;
    padding-left:15px;
    padding-right:15px;
}
h1,h2,h3,h4,h5,h6,p,a{
    text-transform:initial;
    margin:0;
    padding:0;
    text-decoration:none;
    margin-bottom:15px;
    color:#000;
}

h1,h2,h3,h4,h5,h6{
color:{{ headingFontColor }};
}

.section-padding{
    padding:100px 0;
}
h1{
    font-size: 62px;
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: -1.88px;
    margin-bottom: 10px;
}
.section-heading p{
    font-size:20px;
    font-weight:400;
    color: #808080


}
body a.cta_button,
body .container-fluid .row-fluid .hs-button{
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    color: #ffffff;
    padding:13px 34px;
    cursor: pointer;
    font-family:'Rubik', sans-serif;
    text-align: center;
    display: inline-block;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    border-radius:0px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    border:1px solid transparent;
    background:#000000;
}

body a.cta_button:hover,
body .container-fluid .row-fluid .hs-button:hover{
    background:transparent;
    border-color:#000000;
    color:#000000;

}

body .transparent-cta a.cta_button{
    background:transparent;
    border-color:#000000;
    color:#000000;
}

body .transparent-cta a.cta_button:hover{
    background:#000000;
    color: #ffffff;
}

.simple-cta a.cta_button,
.simple-cta a{
    background:transparent;
    border:0;
    padding:0;
    position:relative;
color: {{ baseColor }};
font-weight:500;
}

.simple-cta a.cta_button:hover:before{
    display:none;
}


.slick-slide:focus{
    outline:none;
}
.hero_section_wd_25 ul.slick-dots {

    padding-left: 0px;
}
.hero_section_wd_25 .slick-dots li{
    margin: 0 5px;
    display: inline-block;
}
.hero_section_wd_25 .slick-dots li.slick-active button {
    width: 12px;
    height: 12px;
    opacity: 1;
    background:#000;
}
.hero_section_wd_25 .slick-dots li button:hover{
    background: #000;
}

.hero_section_wd_25 .slick-dots li button {
    font-size: 1px;
    color: transparent;
    padding: 0;
    border: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #294D5C;
    transition: all .2s ease-in-out;
    cursor: pointer;
    outline: none;
}
.hero_section_wd_25 .slick-dots li:focus,.office-slide .slick-dots li.slick-active button:focus {
    outline: none;
}
.slick-dots li button:before {
    display: none;
}
img{
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: bottom;
}
@media (min-width: 1024px) {
    .hero_section_wd_25 ul.slick-dots {
        position: absolute;
        top: 94%;
    }
}

@media (min-width: 768px) {
    body .row-fluid .vertical-center{
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .hero_section_wd_25 .button-section{
        display: flex;
    }
    .hero_section_wd_25 .button-section .left-button{
        margin: 0 30px 0 0;
    }
    .hero_section_wd_25 .slider-section3 .inner-layer .section-heading{
        padding: 44px 0 0;
    }
}

@media (min-width:768px) and (max-width:1023px){
    .section-padding {
        padding: 60px 0;
    }
    h1 {
        font-size: 34px;
    }
    .section-heading p {
        font-size: 18px;
    }
    .hero_section_wd_25 ul.slick-dots {
        position: absolute;
        top: 94%;
    }
}
@media (min-width:768px) and (max-width:830px){

    .hero_section_wd_25 ul.slick-dots {
        position: absolute;
        bottom: 4%;
    }
}
@media (min-width:831px) and (max-width:1023px){

    .hero_section_wd_25 ul.slick-dots {
        position: absolute;
        bottom: 6%;
        top: auto;
    }
}
@media (max-width:767px){
    .hero_section_wd_25 .slider-section3 .inner-layer {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .section-padding {
        padding: 60px 0;
    }
    h1 {
        font-size: 28px;
    }
    .hero_section_wd_25 .slider-section3 .inner-layer .section-heading, .hero_section_wd_25 ul.slick-dots{
        text-align: center;
    }
    .hero_section_wd_25 .slider-section3 .inner-layer .image-section img{
        margin: 0 auto;
        display: block;
    }
    .hero_section_wd_25 .slider-section3 .inner-layer .image-section {
        margin: 0 0 40px;
    }

}
@media (max-width: 480px){
    .body-container-wrapper a.cta_button, body .container-fluid .row-fluid .hs-button {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}