
/* @import url('http://example.com/example_style.css'); */

@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/

/* These includes are optional, but helpful. */
{% include "hubspot/styles/responsive/modules.css" %}
{% include "hubspot/styles/patches/recommended.css" %}


/*****************************************/
/* Start your style declarations here    */
/*****************************************/





/*--------- Theme Base Colors ----------*/

{% set baseColor = '#000000' %}
{% set baseFontColor = '#808080' %}
{% set headingFontColor = '#000000' %}
{% set buttonTextColor = '#ffffff' %}
{% set buttonBackgroundColor = '#000000' %}
{% set buttonHoverTextColor = '#ffffff' %}
{% set buttonHoverBackgroundColor = '#000000' %}
{% set headingFontColor = '#000000' %}
{% set navColor = '#fff' %}



/*--------- Font Family ----------*/

{% set baseFontFamily = "'Rubik', sans-serif;" %}









body{
    padding:0;
    font-size: 16px;
    line-height: 1.63;
    font-weight:400;
    letter-spacing: 0.3px;
font-family:{{ baseFontFamily }};
color:{{ baseFontColor }};
overflow-x:hidden;
-webkit-font-smoothing: antialiased;
width:100%;
margin:0 auto;
max-width:100%;
}

body  .container-fluid .row-fluid .wrapper{
    max-width: 1170px;
    margin-left:auto;
    margin-right:auto;
    float: none;
    padding-left:15px;
    padding-right:15px;
}

body img{
    height:auto;
}



.container-fluid{
    padding:0;
}


h1,h2,h3,h4,h5,h6,p,a{
    text-transform:initial;
    margin:0;
    padding:0;
    text-decoration:none;
    margin-bottom:15px;
    color:#000000;
}

h1,h2,h3,h4,h5,h6{
color:{{ headingFontColor }};
}

.body-container-wrapper ul,.body-container-wrapper li{
    margin-bottom:15px;
}

a{
    margin-bottom:0;
}

h1{
    font-size: 62px;
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: -1.88px;
    margin-bottom: 10px;
}

h2{
    font-size: 42px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 0.06px;
}

h3{
    font-size: 34px;
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: 0.04px;
}

h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: 0.03px;
    margin-bottom: 10px;
}

h5{
    font-weight: 500;
    line-height: 1.44;
    letter-spacing: 0.02px;
    font-size:20px;
}

h6{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 2.02px;
    color: #8c8c8c;

}

p,
.body-container-wrapper li{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    letter-spacing: 0.3px;
color: {{ baseFontColor }};
}

.body-container-wrapper {
    overflow:hidden;
}

.body-container-wrapper ul{
    padding:0;
    text-decoration:none;
    list-style:none;
    margin:20px 0;
}

.body-container-wrapper ol{
    margin:0;
    padding:0;
    text-decoration:none;
    margin-bottom:15px;
}

.body-container-wrapper li{
    position:relative;
    margin-left:10px;
    margin-bottom:8px;
}


.body-container-wrapper li:before{
    position: relative;
    display: inline-block;
    content: '\f00c';
    font-family: FontAwesome;
    left: -10px;
}


.body-container-wrapper ol li:before{
    display:none;
}

.no-list-style li ul{
    margin:0;
    padding:0;
}

.no-list-style li{
    margin:0;
}

.no-list-style li:before{
    display:none;
}

.body-container-wrapper a{
color:{{ baseColor  }};
}

blockquote{
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.67;
    letter-spacing: -0.08px;
    padding-left: 17px;
border-left: 2px solid {{ baseColor }};
margin-left: 4px;
margin-top: 25px;
margin-bottom: 20px;
}

.body-container-wrapper .widget-type-cta{
    margin-top:15px;
}

body .hs-cta-wrapper a.cta_button[title],
body .container-fluid .row-fluid .hs-button{
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    color: #ffffff;
    padding:13px 34px;
    cursor: pointer;
    font-family:'Rubik', sans-serif;
    text-align: center;
    display: inline-block;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    border-radius:0px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    border:1px solid transparent;
    background:#000000;
}

body .hs-cta-wrapper a.cta_button[title]:hover,
body .container-fluid .row-fluid .hs-button:hover{
    background:transparent;
    border-color:#000000;
    color:#000000;
}

body .hs-cta-wrapper a.cta_button{ // Image CTA Example
padding:0;
    border:none;
}

body .dark-cta .hs-cta-wrapper a.cta_button[title] {
    border-color:#ffffff;
    background: #ffffff;
    color: #000000;
}

body .dark-cta .hs-cta-wrapper a.cta_button[title]:hover {
    border-color:#ffffff;
    background: #000000;
    color: #ffffff;
}

body .transparent-cta  .hs-cta-wrapper a.cta_button[title]{
    background:transparent;
    border-color:#000000;
    color:#000000;
}

body .transparent-cta .hs-cta-wrapper a.cta_button[title]:hover{
    background:#000000;
    color: #ffffff;
}


body .transparent-white-cta  .hs-cta-wrapper a.cta_button[title]{
    background:transparent;
    border-color:#ffffff;
    color:#ffffff;
}

body .transparent-white-cta .hs-cta-wrapper a.cta_button[title]:hover{
    background:#ffffff;
    color: #000000;
}


body .simple-cta  .hs-cta-wrapper a.cta_button[title],
.simple-cta a{
    background:transparent;
    border:0;
    padding:0;
    position:relative;
color: {{ baseColor }};
font-weight:500;
font-size:16px;
letter-spacing: 0.3px;
text-decoration: underline;
}

body .simple-cta  .hs-cta-wrapper a.cta_button[title]:hover {
    text-decoration: underline;
}

body .simple-cta  .hs-cta-wrapper a.cta_button[title]:hover:before{
    display:none;
}

body .arrow-cta  .hs-cta-wrapper a.cta_button[title]:after{
    content:'\f107';
    font-family: FontAwesome;
    padding-left: 6px;
}

.align-center {
    text-align:center;
}

.align-left {
    text-align:left;
}

.align-right {
    text-align:right;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.overlay{
    position:relative;
    z-index:1;
}

.overlay:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(43, 43, 43, 0.7);
    z-index: -1;
}

.gray-bg{
    background:#fafafa;
}

.all-text-white,
.all-text-white h1,
.all-text-white h2,
.all-text-white h3,
.all-text-white p,
.all-text-white h4,
.all-text-white h5,
.all-text-white h6,
.all-text-white li,
.all-text-white .fa,
.all-text-white a{
    color:#fff;
}

.text-margin-zero h1,
.text-margin-zero h2,
.text-margin-zero h3,
.text-margin-zero p,
.text-margin-zero h4,
.text-margin-zero h5,
.text-margin-zero .fa,
.text-margin-zero a,
.text-margin-zero .widget-type-cta{
    margin:0;
}

.base-color-text h1,
.base-color-text h2,
.base-color-text h3,
.base-color-text p,
.base-color-text h4,
.base-color-text h5,
.base-color-text h6,
.base-color-text .fa,
.base-color-text a{
color:{{ baseColor }};
}

body .container-fluid .row-fluid [class*="span"]{
    min-height:0;
}

.section-bg{
    background-size: cover!important;
    background-position: center center!important;
}

.section-bg .bg-image{
    display:none!important;
}

.section-padding{
    padding:100px 0;
}

.section-border{
    border-bottom:1px solid #e7e7e7;
}




body .section-heading{
    max-width: 679px;
    margin: 0 auto;
}

.section-heading p{
    font-size:20px;
    font-weight:400;
    line-height: 1.5;
    letter-spacing: -0.3px;
}


.two-col-text p{
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
}

body .container-fluid .row-fluid .no-margin-span{
    margin:0;
}


@media (min-width: 768px) {

    .equal-height-container > .row-fluid-wrapper > .row-fluid {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    body .row-fluid .vertical-center{
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}


body .container-fluid .row-fluid .two-col-adjust>span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    -wevkit-flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-right: -2.5%;
}

body .row-fluid .two-col-adjust span>.hs_cos_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: 47.4%;
    -webkit-flex-basis: 47.4%;
    float: left;
    margin-right: 2.43%;
    margin-top: 2.43%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    flex-direction: column;
    -webkit-flex-direction: column;
}



@media (max-width:767px){

    body .container-fluid .row-fluid .two-col-adjust>span {
        display: block;
        margin-right: 0;
    }

    body .row-fluid .two-col-adjust span>.hs_cos_wrapper {
        display: block;
        width: 100%;
        margin: 0;
        margin-top: 20px;
        max-width: 379px;
        width: 100%;
        margin: 30px auto 0;
        float: none;
    }
    .two-col-text p{
        font-size: 16px;
    }
}


/*========================================================
Typography Responsive Styling
========================================================*/

@media (min-width:768px) and (max-width:1024px){

    .row-fluid [class*="span"].wrapper{
        padding-left:40px;
        padding-right:40px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4{
        font-size: 18px;
    }

    h5{
        font-size: 14px;
        line-height: 18px;
    }

    h6{
        font-size:12px;
    }

    .section-padding {
        padding: 60px 0;
    }

    body .container-fluid .row-fluid .section-heading.align-center {
        margin-bottom: 30px;
    }

    p{
        font-size: 14px;
    }

    .body-container-wrapper li {
        font-size: 14px;
    }

    .section-heading p {
        font-size: 18px;
    }
    .two-col-text p{
        font-size: 16px;
    }
}




@media (max-width:767px){

    .row-fluid [class*="span"].wrapper{
        padding-left:20px;
        padding-right:20px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h4{
        font-size: 18px;
    }

    h5{
        font-size: 14px;
        line-height: 18px;
    }

    h6{
        font-size:12px;
    }

    .section-padding {
        padding: 60px 0;
    }

    .section-padding p{
        font-size:16px;
        line-height:26px;
    }

    .align-right {
        text-align: center;
    }

    .align-left {
        text-align: center;
    }

    body .container-fluid .row-fluid .section-heading.align-center{
        margin-bottom: 30px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    .body-container-wrapper li {
        font-size: 14px;
        line-height: 24px;
    }

    .heading-underline {
        margin-bottom: 20px;
        padding-bottom: 2px;
    }

    .change-mobile .wrapper .row-fluid-wrapper>.row-fluid,
    .change-on-mobile>.row-fluid-wrapper>.row-fluid{
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .section-heading p{
        font-size:16px;
    }


}


@media (max-width:480px){

    .body-container-wrapper .hs-cta-wrapper a.cta_button[title], body .container-fluid .row-fluid .hs-button {
        padding-left:0;
        padding-right:0;
        width:100%;
    }

    body .hs-cta-wrapper a.cta_button[title] {
        padding-left:0;
        padding-right:0;
        width:100%;
    }
}



/*==================================================
Three Col Adjust
==================================================*/

body .container-fluid .row-fluid .three-col-adjust>span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    -wevkit-flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-right: -2.5%;
}

body .row-fluid .three-col-adjust span>.hs_cos_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: 30.9%;
    -webkit-flex-basis: 30.9%;
    float: left;
    margin-right: 2.43%;
    margin-top: 2.43%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    /******************/
    flex-direction: column;
    -webkit-flex-direction: column;
    /****************/
}




@media (max-width:767px){

    body .container-fluid .row-fluid .three-col-adjust>span {
        display: block;
        margin-right: 0;
    }

    body .row-fluid .three-col-adjust span>.hs_cos_wrapper {
        display: block;
        width: 100%;
        margin: 0;
        margin-top: 20px;
        max-width: 379px;
        width: 100%;
        margin: 30px auto 0;
        float: none;
    }
}









/*==================================================
Four Col Adjust
==================================================*/

body .container-fluid .row-fluid .four-col-adjust>span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    -wevkit-flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-right: -2.565%;
}

body .row-fluid .four-col-adjust span>.hs_cos_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: 22.5%;
    -webkit-flex-basis: 22.5%;
    float: left;
    margin-right: 2.5%;
    margin-top: 2.43%;
    box-sizing:border-box;
    position:relative;
}




@media (max-width:767px){

    body .container-fluid .row-fluid .four-col-adjust>span {
        display: block;
        margin-right: 0;
    }

    body .row-fluid .four-col-adjust span>.hs_cos_wrapper {
        display: block;
        flex-basis: 100%;
        width:100%;
        -webkit-flex-basis: 100%;
        margin:0;
        margin-top: 20px;
    }
}





/*=========================================================
FORM STYLING
=========================================================*/

/*======= Placeholder Color ====*/

::-webkit-input-placeholder {
    color: #72808e;
}

:-moz-placeholder {
    color: #72808e;
}

::-moz-placeholder {
    color: #72808e;
}

:-ms-input-placeholder {
    color: #72808e;
}

select::-ms-expand {
    display: none;
}



.row-fluid form li{
    margin:0;
}

.row-fluid  form li:before{
    display:none;
}

.row-fluid  form input,
.row-fluid  form select,
.row-fluid  form textarea{
    height: 47px;
font-family:{{ baseFontFamily }};
color:{{ baseColor }};
font-size: 14px;
line-height: 20px;
letter-spacing: .2px;
padding: 0;
margin-bottom: 8px;
border-radius: 3px;
background: #fff;
padding: 10px 20px;
font-weight: 400;
border: 1px solid #e7e7e7;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.row-fluid  form textarea{
    height:130px;
}

.row-fluid  form select{
    color: #989898;
}

.row-fluid  form input:focus,
.row-fluid  form select:focus,
.row-fluid  form textarea:focus{
    outline:0;
border:1px solid {{ baseColor}};
color:{{ baseColor }};
}

.row-fluid  form .hs_file_upload input,
.row-fluid  form .hs-form-checkbox input,
.row-fluid  form .hs-form-radio input,
.row-fluid  form .hs-form-booleancheckbox input{
    height:auto;
    padding:0;
    border:0;
}

.row-fluid  form .hs-form-checkbox input,
.row-fluid  form .hs-form-radio input,
.row-fluid  form .hs-form-booleancheckbox input{
    height:auto;
    padding:0;
    border:0;
    margin-bottom:0;
}

.row-fluid form .field>label{
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    margin-top: 16px;
    color: #72808e;
}

.row-fluid form .hs_submit .actions{
    text-align:center; // CTA Button Alignment
}

.row-fluid form .hs-button.primary{
    height: auto;
    margin-top: 30px;
}

form .hs-error-msgs{
    margin:0;
    padding:0;
}

form .hs-error-msgs li{
    line-height: 1;
    color: red;
    font-weight: 500;
    font-size: 11px;
    position: relative;
    top: -4px;
    letter-spacing: 0.3px;
}

.row-fluid .hs-form fieldset.form-columns-1 .hs-input {
    width: 100%;
}

body .row-fluid .hs-form fieldset {
    max-width: 100%;
}

form .hs-form-required{
    display:none;
}

.body-container-wrapper form ul,
.body-container-wrapper form li{
    margin:0;
    padding:0;
}

.body-container-wrapper form ul,
form ul{
    list-style:none;
}

.body-container-wrapper form li:before{
    display:none;
}

body form .hs-form-checkbox:last-child,
body form .hs-form-radio:last-child,
body form .hs-form-booleancheckbox{
    margin-bottom:20px;
}

body .row-fluid .hs-form fieldset.form-columns-3 .hs-form-field {
    width: 32%;
    margin-right:2%;
}

body .row-fluid .hs-form fieldset.form-columns-2 .hs-form-field {
    width: 49%;
    margin-right:2%;
}

body .row-fluid .hs-form fieldset .hs-form-field:last-child{
    margin-right:0;
}

body .row-fluid .hs-form fieldset.form-columns-2 .input,
body .row-fluid .hs-form fieldset.form-columns-3 .input {
    margin-right:0px;
}

body .container-fluid .row-fluid .hs-form fieldset .field:last-child .input{
    margin-right:0;
}

body .row-fluid select{
    background: #fff url(//cdn2.hubspot.net/hubfs/2558854/DreamPack/Select%20Arrow.png) no-repeat;
    background-position: center right;
    -webkit-appearance: none;
}





/*=======================================================
CHECKBOX AND RADIO BUTTONS STYLING
=======================================================*/

.row-fluid .hs-form .field .input input[type="checkbox"],
.row-fluid .hs-form .field .input  input[type="radio"]{
    width:auto;
}

.row-fluid .hs-form .field .input input[type="checkbox"],
.row-fluid .hs-form .field .input  input[type="radio"]{
    padding: 0;
    border-radius: 4px;
    background: #fff;
    margin-left: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #cfd3d7;
    -webkit-appearance: none;
    border: 2px solid #ddd;
    margin-right: 8px;
    top: 2px;
    width: 20px;
    height: 20px;
}

.row-fluid .hs-form .field .input input[type="checkbox"]:checked:after {
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    top: 3px;
    left: 2px;
border: 3px solid {{ baseColor }};
border-top: 0;
border-right: 0;
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
}

.row-fluid .hs-form .field .input  input[type="radio"]{
    border-radius: 50%;
}

.row-fluid .hs-form .field .input  input[type="radio"]:checked:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3px;
background: {{ baseColor }};
left: 3px;
border-top: 0;
border-right: 0;
border-radius: 50%;
}



@media (max-width:480px){

    body form.hs-form .form-columns-2 .hs-form-field .hs-input,body form.hs-form .form-columns-3 .hs-form-field .hs-input{
        width:100%;
    }

    body .row-fluid .hs-form fieldset .input{
        margin:0;
    }

    body .row-fluid .hs-form fieldset.form-columns-3 .hs-form-field {
        width: 100%;
        margin-right: 0;
    }

    body .row-fluid .hs-form fieldset.form-columns-2 .hs-form-field {
        width: 100%;
        margin-right: 0;
    }

    .row-fluid form .hs_submit .actions{
        text-align:center;
    }
}












/*==============================================================
Header Styling
==============================================================*/


body .header-container-wrapper .row-fluid .cs-dp-header{
    top:0;
    right:0;
    left:0;
    position: absolute;
    padding: 25px 0;
    z-index: 12;
}








/*====================== Navigation Styling ========================*/


.cs-dp-header .top-nav{
    text-align:center;
}

@media (min-width:1025px){

    .cs-dp-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
        font-size: 15px;
        line-height: 16px;
    color: {{ navColor }};
padding: 12px 18px;
}

.cs-dp-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 ul {
    background: #fff;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.39);
    border-radius: 2px;
    padding:8px 0;
    text-align:left;
}

.cs-dp-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>ul:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 32px;
    background: rgb(255, 255, 255);
    pointer-events: none;
    width: 15px;
    height: 15px;
    z-index: -1;
    transform: rotate(45deg);
    box-shadow: -3px -3px 3px -3px rgba(0, 0, 0, 0.39);
}

.cs-dp-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>ul a{
    color: #000;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 16px;
    min-width:120px;
    overflow: visible !important;
    max-width: none !important;
    width: auto !important;
    transition:all .2s ease-in-out;
}

.cs-dp-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>ul a:hover{
    background:#f2f2f2;
}

.cs-dp-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
    left: 100%;
    top:-10px;
}

.cs-dp-header .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children>a{
    padding-right:30px;
}

.cs-dp-header ul>li.hs-item-has-children>a:after,
.cs-dp-header ul>li.hs-item-has-children ul li.hs-item-has-children>a:after {
    font-family: FontAwesome;
    position: absolute;
    content: "\f107";
    right: 12px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
color:{{ navColor }};;
}

.cs-dp-header ul>li.hs-item-has-children ul li.hs-menu-depth-2.hs-item-has-children>a:after{
    color:#000;
    content: "\f105";
}

}


.cs-dp-header .widget-type-cta{
    margin-top:2px;
}

.cs-dp-header .hs-cta-wrapper a.cta_button[title]{
color:{{ navColor }};
font-size: 15px;
line-height: 16px;
background: transparent;
border-radius: 4px;
border: 1px solid {{ navColor }};
padding: 10px 16px;
}

/* ==========================================================================
Custom Menu Primary
========================================================================== */


{% set ulColor       = "" %} /* Set ul background color */
{% set liColor       = "" %} /* Set li background Color */
{% set aColor        = "" %} /* Set link Color */
{% set aColorHover   = "" %} /* Set link Hover Color */

/* Parent List */
.cs-menu-primary .hs-menu-wrapper > ul{
background:{{ ulColor }};
}
.cs-menu-primary .hs-menu-wrapper > ul > li{
background:{{ liColor }};
}
.cs-menu-primary .hs-menu-wrapper > ul > li > a{
color:{{ aColor }};
}
.cs-menu-primary .hs-menu-wrapper > ul > li > a:hover{
color:{{ aColorHover }};
}

/* Child List */
.cs-menu-primary .hs-menu-wrapper > ul ul{}
.cs-menu-primary .hs-menu-wrapper > ul ul li{
background:{{ liColor }};
}
.cs-menu-primary .hs-menu-wrapper > ul ul li a{
color:{{ aColor }};
}
.cs-menu-primary .hs-menu-wrapper > ul ul li a:hover{
color:{{ aColorHover }};
}

/* Override max width on menu links */
.cs-menu-primary .hs-menu-wrapper > ul li a,
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
    overflow: visible !important;
    max-width: none !important;
    width: auto !important;
}

/* Fix menu disappearing on desktop after toggling mobile menu */
@media screen and (min-width:1025px) {
    .cs-menu-primary .hs-menu-wrapper {
        display:block !important;
    }
}




/* ==========================================================================
Mobile Menu - Hubspot Standard Toggle Menu
========================================================================== */


/**
* Special Note
*
* When the menu is open, a class of .mobile-open is applied to the body. You can
* use this for custom styling on any element when the menu is in the open position.
*/

.mobile-trigger, .child-trigger{
    display: none; /* Hide button on Desktop */
}

@media (max-width: 1024px){


    /* Variables
    ========================================================================== */

{% set menuColorMobile = "#000" %}   /* Set Mobile Menu Background Color */
{% set aColorMobile = "#fff" %}      /* Set Link Color */
{% set aColorHoverMobile = "#fff" %} /* Set Link Hover Color */

    /*
    * Menu Reset
    *
    * Remove styling from desktop version of cs-menu-primary. Place any
    * additional CSS you want removed from the mobile menu in this reset
    */

    .cs-menu-primary,
    .cs-menu-primary .hs-menu-wrapper > ul,
    .cs-menu-primary .hs-menu-wrapper > ul li,
    .cs-menu-primary .hs-menu-wrapper > ul li a{
        display: block;
        float: none;
        position: static;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        padding: 0px;
        margin: 0px;
        background-image: none;
        background-color: transparent;
        border: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
        max-width: none;
        width: 100%;
        height: auto;
        line-height: 1;
        font-weight: normal;
        text-decoration: none;
        text-indent: 0px;
        text-align: left;
    color:{{aColorMobile}};
}


/* Toggle Button
========================================================================== */

.mobile-trigger{
    display: inline-block !important; /* Show button on mobile */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute; /*******************************************/
    top: 0px;          /* Position Button at right of screen  */
    right: 40px;        /*******************************************/
    width: auto; /* Button width */
    height: auto; /* Button height */
    padding: 7px 10px 8px 10px;
    background: #ffffff; /* Background color */
border: 1px solid {{ menuColorMobile }};
font-size: 16px;
font-weight: normal;
text-align: left;
text-transform: uppercase;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius: 0;
color: {{ menuColorMobile }};
}
.mobile-trigger:hover{
    text-decoration: none; /* Removes link text underline on button */
color:{{ aColorHoverMobile }};
background-color: {{ menuColorMobile }};
border-color: transparent;
}

/* Change button when menu is open */
.mobile-open .mobile-trigger{
color:{{ aColorHoverMobile }};
background-color: {{ menuColorMobile }};
border-color: transparent;
}


/* Toggle Button Icon
========================================================================== */

.mobile-trigger i{
    display: inline;
    position: relative;
    top: -4px;
}
.mobile-trigger i:before, .mobile-trigger i:after{
    position: absolute;
    content: '';
}
.mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after{
    width: 22px; /* Icon line width */
    height: 2px; /* Icon line height */
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
background-color: {{ menuColorMobile }}; /* Icon color */
display: inline-block;
}
.mobile-trigger i:before{
    top: -6px; /* Position top line */
}
.mobile-trigger i:after{
    top: 6px; /* Position bottom line */
}

.mobile-trigger:hover i, .mobile-trigger:hover i:before, .mobile-trigger:hover i:after,
.mobile-open .mobile-trigger i, .mobile-open .mobile-trigger i:before, .mobile-open .mobile-trigger i:after{
background-color: {{ aColorHoverMobile }}; /* Icon color */
}


/* Child Toggle Button
========================================================================== */

.child-trigger{
    display: block !important; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px !important; /* Button width */
    min-width: 55px !important;
    height: 45px !important; /* Button height */
    padding: 0 !important;
    border-left: 1px dotted rgba(255, 255, 255, .20);
}
.child-trigger:hover{
    text-decoration: none;
}
.child-trigger i{
    position: relative;
    top: 50%; /* Centers icon inside button */
    margin: 0 auto !important;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.child-trigger i:after{
    position: absolute;
    content: '';
}
.child-trigger i, .child-trigger i:after{
    width: 10px; /* Icon line width */
    height: 1px; /* Icon line height */
background-color:{{ aColorMobile }}; /* Icon color */
display: block;

}
.child-trigger i:after{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.child-trigger.child-open i:after{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.child-trigger.child-open i{
}


/* Menu Styles on Mobile Devices
========================================================================== */

.cs-menu-primary.js-enabled{
    position: absolute;
    padding-top: 44px;
    margin: 0;
    left: 0;
    right: 0;
    top: 20px;
    width:100%;
}

/* Hide menu on mobile */
.cs-menu-primary.js-enabled .hs-menu-wrapper,
.cs-menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
}

/* Make child lists appear below parent items */
.cs-menu-primary ul.hs-menu-children-wrapper{
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
    display: none;
}

/* Mobile Menu Styles */
.cs-menu-primary.js-enabled .hs-menu-wrapper{
    width: 100%;
    position: relative; /**************************************************************/
    top: 0;             /* Positions the menu to drop from the very top of the screen */
    left: 0;          /**************************************************************/
    padding: 0;
}
.cs-menu-primary .hs-menu-wrapper{
background-color:{{ menuColorMobile }}; /* Menu background color set off global menuColorMobile variable */
width: 100%; /* Full screen width */
}

/* Level 1 Menu List Styles */
.cs-menu-primary .hs-menu-wrapper > ul > li{
    position: relative;
}
.cs-menu-primary .hs-menu-wrapper > ul > li a{
    font-size: 14px; /* Font size of top level list items */
    line-height: 45px;
    overflow: visible;
}

/* Level 1 and Higher Menu List Styles */
.cs-menu-primary .hs-menu-wrapper > ul li{
    border-top: 1px solid rgba(255, 255, 255, .35); /* Adds transparent dark highlights to top of top level list items */
}
.cs-menu-primary .hs-menu-wrapper >  ul li a{
    padding: 0 20px;
color:{{ aColorMobile }}; /* link color set by global mobile-aColor variable */
}
.cs-menu-primary .hs-menu-wrapper > ul li a:hover{
color:{{ aColorHoverMobile }}; /* link hover color set by global mobile-aColorHover variable */
}

/* Level 2 and Higher Menu List Styles */
.cs-menu-primary .hs-menu-wrapper > ul ul li{
    background-color: rgba(255, 255, 255, .08);
}
.cs-menu-primary .hs-menu-wrapper > ul ul li a{
    text-indent: 10px; /* Indent Child lists */
    font-size: 14px; /* Font size of child lists */
}

/* Level 3 and Higher Menu List Styles */
.cs-menu-primary .hs-menu-wrapper > ul ul ul li a{
    text-indent: 30px; /* Indent Child lists */
}
.cs-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
    text-indent: 50px; /* Indent Child lists */
}


/*============= Additional Styling For ======================*/

.cs-menu-primary .hs-menu-wrapper {
    display:none;
}

body .header-container-wrapper .cs-dp-header .logo{
    width: 100%;
    max-width: 160px;
    float: left;
    position: relative;
    z-index: 13;
}

body .header-container-wrapper .row-fluid .cs-dp-header {
    padding: 18px 0;
}

.cs-dp-header .hs-cta-wrapper a.cta_button[title]{
    display:none;
}
}



@media (max-width:767px){

    .mobile-trigger {
        right: 20px;
    }
}
