<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<link rel="stylesheet" href="{{ get_public_template_url('/Pattern Library/Module-library.css') }}" />
<div  class="content_section_wd_9 align-center section-padding"  style="background:{{ module.add_background_color }} url('{{ module.add_background_image.src }}') no-repeat;background-position:top center;background-size:cover;">
    <div class="wrapper">
        <h2>{{ module.add_heading }}</h2>
        <div class="row">
            {% for item in module.field_group %}
            <div class="col-sm-4">
                <img src="{{ item.add_image_.src }}" alt="{{ item.add_image_.alt }}" width="{{ item.add_image_.width }}" height="{{ item.add_image_.height }}">
                <h4>{{ item.add_title }}</h4>
                {{ item.add_description }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="span12 hero_section_wd_1 section-padding" style="background:{{ module.add_background_color }} url('{{ module.add_background_image.src }}') no-repeat;background-position:top center;background-size:cover;">
    <div class="wrapper">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">

            </div>
        </div>
    </div>
</div>


<div class="span12 hero_section_wd_1 section-padding" style="background:{{ module.add_background_color }} url('{{ module.add_background_image.src }}') no-repeat;background-position:top center;background-size:cover;">
    <div class="wrapper">
        <div class="span12">
            <div class="span6">
                <h1>{{ module.add_heading }}</h1>
                {{ module.add_sub_heading }}
                <div class="span12">
                    <div class="span6">
                        {% cta guid="{{ module.add_cta_button }}" %}
                    </div>
                    <div class="span6">
                        {% cta guid="{{ module.add_cta_button }}" %}
                    </div>
                </div>
            </div>
            <div class="span6 image-section" >
                <img src="{{ module.add_image.src }}"
                     alt="{{ module.add_image.alt }}">
            </div>
        </div>
        <div class="span12">
            {% for item in module.logo_section %}

            <div class="span2">
                <img src="{{ item.add_image_logos.src }}"
                     alt="{{ item.add_image_logos.alt }}">
            </div>
            {% endfor %}

        </div>



    </div>
</div>

<div class="span12 hero_section_wd_2 section-padding" style="background:{{ module.add_background_color }} url('{{ module.add_background_image.src }}') no-repeat;background-position:top center;background-size:cover;">
    <div class="wrapper">
        <div class="span6">
            <h1>
                {{ module.add_heading }}
            </h1>
            {{ module.add_sub_heading }}
            <div class="botton-section">
                {% cta guid="{{ module.add_cta_button }}" %}
            </div>
        </div>
    </div>
</div>


<div class="span12 hero_section_wd_2 section-padding" style="background:{{ module.add_background_color }} url('{{ module.add_background_image.src }}') no-repeat;background-position:top center;background-size:cover;">

    <div class="wrapper">
        {% for item in module.slick_slider_section %}

        <div class="text-section">
            <h1>
                {{ module.add_heading }}
            </h1>
            {{ module.add_sub_heading }}
            <div class="botton-section">
                {% cta guid="{{ module.add_cta_button }}" %}
            </div>
        </div>
        {% endfor %}

    </div>
</div>


<div class="span12 hero_section_wd_2 section-padding" style="background:{{ module.add_background_color }} url('{{ module.add_background_image.src }}') no-repeat;background-position:top center;background-size:cover;">
    <div class="wrapper">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="slick-slider-loop">
                    {% for item in module.slick_slider_section %}
                    <div class="inner-layer">
                        <div class="heading">
                            <h1>{{ module.add_heading }}

                            </h1>

                            <p>
                                {{ module.add_sub_heading }}

                            </p>

                        </div>
                        <div class="botton-section">
                            {% cta guid="{{ module.add_cta_button }}" %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>