/*==================================================================
   Download App WD 01 Styling
=====================================================================*/
.download-app-wd-1 .heading-section{
    max-width: 650px;
    margin: 0 auto;
}
.download-app-wd-1 h2{
    padding: 0 0 20px;
}
.download-app-wd-1 p{
    padding: 0 0 20px;
}
.download-app-wd-1 .image-section{
    margin: 50px 0 76px;
}
.download-app-wd-1 .remove-underline:hover{
    text-decoration: none;
}
.download-app-wd-1 .left-button{
    margin-right: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .download-app-wd-1 .image-section{
        margin: 30px 0;
    }
}
@media (max-width: 767px) {
    .download-app-wd-1 h2{
        padding: 0 0 15px;
    }
    .download-app-wd-1 p{
        padding: 0 0 15px;
    }
    .download-app-wd-1 .image-section{
        margin: 20px 0;
    }
}
@media (max-width: 480px) {
    .download-app-wd-1 .button-section .left-button{
        margin-bottom: 10px;
        margin-right: 0;
    }

}
/*==================================================================
   End of Download App WD 01 Styling
=====================================================================*/
/*==================================================================
   Download App WD 05 Styling
=====================================================================*/
.download-app-wd-5 .heading-section h2{
    padding: 0 0 21px;
}
.download-app-wd-5 .heading-section p{
    padding: 0 0 27px;
}
.download-app-wd-5 .button-section .left-button{
    margin-right: 25px;
}
.download-app-wd-5 .button-section{
    padding: 36px 0 0;
}
.download-app-wd-5 .heading-section{
    padding: 12px 0 0;
}

@media (min-width: 768px)  {
    .download-app-wd-5{
        position: relative;
    }
    .download-app-wd-5 .image-section{
        position: absolute;
        right: 0;
    }
    .download-app-wd-5 .image-section img{
        max-width: 50vw;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .download-app-wd-5 .heading-section h2{
        padding: 0 0 20px;
    }
    .download-app-wd-5 .heading-section p{
        padding: 0 0 20px;
    }
    .download-app-wd-5 .button-section .left-button{
        margin-right: 20px;
    }
    .download-app-wd-5 .button-section{
        padding: 20px 0 0;
    }
    .download-app-wd-5 .heading-section{
        padding: 10px 0 0;
    }

}
@media (min-width: 768px) and (max-width: 846px) {
    .download-app-wd-5 .button-section a img{
        margin: 0 auto;
        display: block;
    }
}
@media (max-width: 767px) {
    .download-app-wd-5 .heading-section h2{
        padding: 0 0 15px;
    }
    .download-app-wd-5 .heading-section p{
        padding: 0 0 15px;
    }

    .download-app-wd-5 .button-section{
        padding: 15px 0 0;
    }
    .download-app-wd-5 .heading-section{
        padding: 7px 0 0;
    }
    .download-app-wd-5 .image-section img{
        margin: 0 auto;
        display: block;
    }
    .download-app-wd-5{
        text-align: center;
    }
    .download-app-wd-5 .right-col{
        margin: 0 0 20px;
    }
}
@media (max-width: 480px) {
    .download-app-wd-5 .button-section a img{
        margin: 0 auto;
        display: block;
    }
}
/*==================================================================
   End of Download App WD 05 Styling
=====================================================================*/

/*==================================================================
    Download App WD 06 Styling
=====================================================================*/

.download-app-wd-6 .left-col h4{
    padding: 0 0 15px;
}
.download-app-wd-6 .button-section .left-button{
    margin-right: 25px;
}
@media (min-width: 768px) {
    .download-app-wd-6 .wrapper .row-fluid{
        position: relative;
    }
    .download-app-wd-6 .button-section{
        position: absolute;
        right: 0;
    }
}
@media (max-width: 767px) {
    .download-app-wd-6{
        text-align: center;
    }
    .download-app-wd-6 .left-col{
        margin: 0 0 15px;
    }
}
@media (max-width: 480px) {
    .download-app-wd-6 .button-section a img{
        margin: 0 auto;
        display: block;
    }
}
/*==================================================================
   End of Download App WD 06 Styling
=====================================================================*/
/*==================================================================
    Download App WD 08 Styling
=====================================================================*/

.download-app-wd-8 .heading-section{
    max-width: 657px;
    margin: 0 auto;
}
.download-app-wd-8 .left-button{
    margin-right: 27px;
}
.download-app-wd-8 h2{
    padding: 0 0 22px;
}
.download-app-wd-8 p{
    padding: 0 0 15px;
}
.download-app-wd-8 .heading-section .button-section{
    padding: 56px 0 60px;
}
.download-app-wd-8 .image-section{
    padding: 20px 0 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .download-app-wd-8 h2{
        padding: 0 0 15px;
    }
    .download-app-wd-8 .heading-section .button-section{
        padding: 30px 0;
    }
}
@media (max-width: 767px) {
    .download-app-wd-8 h2{
        padding: 0 0 10px;
    }
    .download-app-wd-8 .heading-section .button-section{
        padding: 20px 0;
    }
}
/*==================================================================
    End of Download App WD 08 Styling
=====================================================================*/
/*==================================================================
     Download App WD 11 Styling
=====================================================================*/
.download-app-wd-11 .left-col p{
    max-width: 530px;
    padding: 0 0 29px;
}
.download-app-wd-11 .right-col .image-section{
    /*text-align: center;*/
    margin-left: 15%;
}
.download-app-wd-11 .left-col h2{
    padding: 0 0 20px;
}
.download-app-wd-8 .button-section .left-button{
    margin-right: 27px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .download-app-wd-11 .left-col p{
        padding: 0 0 20px;
    }
}
@media (max-width: 767px) {
    .download-app-wd-11 .left-col h2{
        padding: 0 0 15px;
    }
    .download-app-wd-11 .left-col p{
        padding: 0 0 15px;
    }
}
@media (max-width: 480px) {
    .download-app-wd-11 .button-section a img{
        margin: 0 auto;
        display: block;
    }
}
/*==================================================================
     End of Download App WD 11 Styling
=====================================================================*/