
/*==================================================================
   Call to Action WD 1 Styling
=====================================================================*/
.call-to-action-1 .left-button{
    margin-right: 27px;
}
.call-to-action-1 .section-heading{
    max-width: 831px;
}
.call-to-action-1 h2{
    padding: 0 0 29px;
}
.call-to-action-1 p{
    padding: 0 0 40px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .call-to-action-1 h2{
        padding: 0 0 25px;
    }
    .call-to-action-1 p{
        padding: 0 0 25px;
    }
}
@media (max-width: 767px) {
    .call-to-action-1 h2{
        padding: 0 0 15px;
    }
    .call-to-action-1 p{
        padding: 0 0 15px;
    }
}
@media (max-width: 480px) {
    body .row-fluid .call-to-action-1 .left-button .cta_button {
        margin-bottom: 20px;
    }
}

/*==================================================================
  End of Call to Action WD 1 Styling
=====================================================================*/
/*==================================================================
  Call to Action WD 2 Styling
=====================================================================*/
.call-to-action-2 h2{
    padding: 0 0 30px;
}
.call-to-action-2 p{
    padding: 0 0 38px;
}
@media (max-width: 1024px) {
    .call-to-action-2 h2{
        padding: 0 0 15px;
    }
    .call-to-action-2 p{
        padding: 0 0 16px;
    }
}
/*==================================================================
  End of Call to Action WD 2 Styling
=====================================================================*/

/*==================================================================
   Call to Action WD 4 Styling
=====================================================================*/

.call-to-action-4 .section-heading{
    max-width: 905px;
}
.call-to-action-4 .image-section img{
    display: block;
    margin: 0 auto;
}
.call-to-action-4 .image-section{
    padding-bottom: 67px;
}
.call-to-action-4 h2{
    padding-bottom: 33px;
}
.call-to-action-4 p{
    padding-bottom: 51px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .call-to-action-4 .image-section{
        padding-bottom: 30px;
    }
    .call-to-action-4 h2{
        padding-bottom: 20px;
    }
    .call-to-action-4 p{
        padding-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .call-to-action-4 .image-section{
        padding-bottom: 20px;
    }
    .call-to-action-4 h2{
        padding-bottom: 15px;
    }
    .call-to-action-4 p{
        padding-bottom: 15px;
    }
}
/*==================================================================
  End of Call to Action WD 4 Styling
=====================================================================*/
/*==================================================================
  Call to Action WD 5 Styling
=====================================================================*/
.call-to-action-5 h1{
    padding-bottom: 37px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .call-to-action-5 h1{
        padding-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .call-to-action-5 h1{
        padding-bottom: 10px;
    }
}
/*==================================================================
  End of Call to Action WD 5 Styling
=====================================================================*/
/*==================================================================
   Call to Action WD 6 Styling
=====================================================================*/
.call-to-action-6 h2{
    padding: 0 0 21px;
}
.call-to-action-6 p{
    padding: 0 0 15px;
}
.call-to-action-6 .right-col{
    position: relative;
}

@media (min-width: 1025px) {
    .call-to-action-6 .right-col .dark-cta .cta_button{
        position: absolute;
        right: 45px;
        top: 63px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .call-to-action-6 .right-col .dark-cta .cta_button{
        position: absolute;
        right: 10px;
        top: 63px;
    }
}
@media (max-width: 1024px) {
    .call-to-action-6 h2{
        padding: 0 0 15px;
    }
}
@media (max-width: 767px) {
    .call-to-action-6 {
        text-align: center;
    }

}
/*==================================================================
  End of Call to Action WD 6 Styling
=====================================================================*/
/*==================================================================
   Call to Action WD 7 Styling
=====================================================================*/
.call-to-action-7 .row-fluid{
    border: 1px solid #c2c2c2;
    padding: 44px 0 28px 58px;
}
.call-to-action-7 h3{
    padding: 0 0 20px;
}
.call-to-action-7 p{
    padding: 0 0 15px;
}
.call-to-action-7 .right-col{
    position: relative;
}

@media (min-width: 1025px) {
    .call-to-action-7 .right-col .button-section .cta_button{
        position: absolute;
        position: absolute;
        right: 10px;
        top: 24px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .call-to-action-7 .right-col .button-section .cta_button{
        position: absolute;
        right: 10px;
        top: 24px;
    }
    .call-to-action-7 .row-fluid{
        padding: 30px 0 30px 30px;
    }
}
@media (max-width: 1024px) {
    .call-to-action-7 h3{
        padding: 0 0 15px;
    }
}
@media (max-width: 767px) {
    .call-to-action-7 {
        text-align: center;
    }
    .call-to-action-7 .row-fluid{
        padding: 20px;
    }

}
/*==================================================================
  End of Call to Action WD 7 Styling
=====================================================================*/
/*==================================================================
  Call to Action WD 8 Styling
=====================================================================*/

.call-to-action-8 .simple-cta a{
    font-size: inherit;
}
.call-to-action-8 h2{
    margin:0;
}
/*==================================================================
  End of Call to Action WD 8 Styling
=====================================================================*/


/*==================================================================
   Call to Action WD 10 Styling
=====================================================================*/
.call-to-action-10 .button-text h6{
    background-color: var(--tag-bg);
    padding: 7px 18px;
    display: inline;
    color: var(--font-white);
}
.call-to-action-10 .button-text{
    margin-bottom: 20px;
}
.call-to-action-10 .left-col h4{
    padding: 0 0 25px;
}
.call-to-action-10 .background-section{
    border-radius: 8px;
    padding: 101px 100px 108px;
}
.call-to-action-10 .right-col img{
    float: right;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .call-to-action-10 .button-text{
        margin-bottom: 15px;
    }
    .call-to-action-10 .left-col h4{
        padding: 0 0 20px;
    }
    .call-to-action-10 .background-section{
        padding: 60px;
    }
}
@media (max-width: 767px) {
    .call-to-action-10 .button-text{
        margin-bottom: 10px;
    }
    .call-to-action-10 .left-col h4{
        padding: 0 0 15px;
    }
    .call-to-action-10 .background-section{
        padding: 30px;
    }
}

/*==================================================================
  End of Call to Action WD 10 Styling
=====================================================================*/

/*==================================================================
Call to Action WD 12 Styling
=====================================================================*/
.call-to-action-12 .section-heading h4{
    padding: 0 0 21px;
}
.call-to-action-12 .section-heading p{
    padding: 0 0 35px;
}
.call-to-action-12 .two-col-text p{
    padding: 0 0 25px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .call-to-action-12 .section-heading p{
        padding: 0 0 20px;
    }
    .call-to-action-12 .two-col-text p{
        padding: 0 0 20px;
    }
}
@media (max-width: 767px) {
    .call-to-action-12 .section-heading p{
        padding: 0 0 15px;
    }
    .call-to-action-12 .two-col-text p{
        padding: 0 0 15px;
    }
}
/*==================================================================
End of Call to Action WD 12 Styling
=====================================================================*/
/*==================================================================
Call to Action WD 16 Styling
=====================================================================*/
.call-to-action-16 .section-heading{
    max-width: 852px;
}
.call-to-action-16 h2{
    padding: 0 0 39px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .call-to-action-16 h2{
        padding: 0 0 20px;
    }
}
@media (max-width: 767px) {
    .call-to-action-16 h2{
        padding: 0 0 15px;
    }
}
/*==================================================================
End of Call to Action WD 16 Styling
=====================================================================*/

/*==================================================================
Call to Action WD 17 Styling
=====================================================================*/
.call-to-action-17 h3{
    padding: 0 0 15px;
}
.call-to-action-17 .flex-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.call-to-action-17 .button-section .left-button .cta_button{
    margin-bottom: 28px;
}
@media (max-width: 767px) {
    .call-to-action-17{
        text-align: center;
    }
    .call-to-action-17 .flex-items .text-section,
    .call-to-action-17 .flex-items .button-section{
        width: 100%;
    }
}
/*==================================================================
End of Call to Action WD 17 Styling
=====================================================================*/

/*==================================================================
 Call to Action WD 15 Styling
=====================================================================*/

.call-to-action-15 .simple-cta{
    color: #000;
    text-decoration: underline;
}
.call-to-action-15 .right-col span.simple-cta{
    margin-left: 26px;
}
.call-to-action-15 .left-col h1{
    max-width: 370px;
    padding: 0 0 20px;
}
.call-to-action-15 .left-col h4{
    padding: 0 0 41px
}
.call-to-action-15 .right-col h2{
    max-width: 304px;
    padding: 0 0 30px;
}
@media (min-width: 768px) {
    .call-to-action-15{
        position: relative;
    }
    .call-to-action-15 .left-col:after{
        position: absolute;
        content: '';
        border-right: 1px solid #474747;
        right: 49.7%;
        height: 100%;
        top: 0;
    }
    body .row-fluid .call-to-action-15 .right-col{
        margin-left: 7.8%;
        margin-top: 9.7%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    body .row-fluid .call-to-action-15 .right-col{
        margin-top: 5%;
    }
    .call-to-action-15 .left-col h1{
        padding: 0 0 20px;
    }
    .call-to-action-15 .left-col h4{
        padding: 0 0 20px
    }
    .call-to-action-15 .right-col h2{
        padding: 0 0 20px;
    }
}
@media (max-width: 767px) {
    .call-to-action-15{
        text-align: center;
    }
    .call-to-action-15 .left-col h1{
        max-width: none;
        padding: 0 0 15px;
    }
    .call-to-action-15 .left-col h4{
        padding: 0 0 15px
    }
    .call-to-action-15 .right-col h2{
        max-width: none;
        padding: 0 0 15px;
    }
    .call-to-action-15 .left-col{
        margin-bottom: 20px;
    }
}
/*==================================================================
 End of Call to Action WD 15 Styling
=====================================================================*/
/*==================================================================
 Call to Action WD 21 Styling
=====================================================================*/
@media (min-width: 768px){
    .call-to-action-21 .text-section h3{
        padding: 0 0 19px;
    }
    .call-to-action-21 .text-section p{
        padding: 0 0 29px;
    }
    .call-to-action-21 .image-section{
        float: right;
    }
}
@media (max-width: 767px) {
    .call-to-action-21 .text-section h3{
        padding: 0 0 15px;
    }
    .call-to-action-21 .text-section p{
        padding: 0 0 15px;
    }
    .call-to-action-21 .image-section img{
        margin: 0 auto;
        display: block;;
    }
    .call-to-action-21{
        text-align: center;
    }
    .call-to-action-21 .right-col{
        margin-bottom: 20px;
    }
}
/*==================================================================
 End of Call to Action WD 21 Styling
=====================================================================*/

/*==================================================================
  Call to Action WD 19 Styling
=====================================================================*/

@media (min-width: 1200px) {
    body .container-fluid .row-fluid .call-to-action-19 .center-col{
        margin-left: -28px;
    }
}
@media (min-width: 768px) {
    .call-to-action-19 .wrapper{
        position: relative;
    }
    .call-to-action-19 .button-section{
        position: absolute;
        right: 18px;
    }
}
@media (max-width: 767px) {
    .call-to-action-19{
        text-align: center;
    }
}
/*==================================================================
 End of Call to Action WD 19 Styling
=====================================================================*/


/*==================================================================
 Call to Action WD 13 Styling
=====================================================================*/
.call-to-action-13.section-padding{
    padding-bottom: 120px;
}
.call-to-action-13 h2{
    padding: 0 0 15px;
}
.call-to-action-13 .heading-section{
    margin-bottom: 100px;
}
.call-to-action-13 .right-col{
    padding: 118px 62px 112px;
    min-width: 50.2%;
}
.call-to-action-13 .right-col h3{
    padding: 0 0 33px;
    max-width: 345px;
}
.call-to-action-13 .right-col p{
    padding: 0 0 36px;
}

@media (min-width: 768px) {
    /*overlay right col */
    .call-to-action-13 .inner-row{
        position: relative;
    }
    .call-to-action-13 .right-col{
        position: absolute;
        right: 0;
        top: 16.4%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .call-to-action-13 .heading-section{
        margin-bottom: 25px;
    }
    .call-to-action-13 .right-col{
        padding: 60px;


    }
    .call-to-action-13 .right-col h3{
        padding: 0 0 20px;
    }
    .call-to-action-13 .right-col p{
        padding: 0 0 20px;
    }
}
@media (max-width: 767px) {
    .call-to-action-13 .heading-section{
        margin-bottom: 10px;
    }
    .call-to-action-13 .right-col{
        padding: 30px;
        min-width: 0;
    }
    .call-to-action-13 .right-col h3{
        padding: 0 0 10px;
    }
    .call-to-action-13 .right-col p{
        padding: 0 0 10px;
    }
    .call-to-action-13 .left-col,
    .call-to-action-13 .right-col{
        width: 100%;
    }
}
/*==================================================================
 Call to Action WD 13 Styling
=====================================================================*/

/*==================================================================
Download App WD 2 Styling
=====================================================================*/
.download-app-wd-2 .heading-section{
    max-width: 777px;
    margin: 0 auto;
}
.download-app-wd-2 .heading-section h2{
    padding: 0 0 22px;
}
.download-app-wd-2 .heading-section p{
    padding: 0 0 29px;
}
.download-app-wd-2 .button-section{
    padding: 0 0 30px;
}
.download-app-wd-2 .image-section{
    padding: 32px 0 0;
}

.download-app-wd-2 .button-section .left-button{
    margin-right: 25px;
}
@media (min-width: 768px) {
    .download-app-wd-2{
        position: relative;
    }
    .download-app-wd-2 .wrapper{
        position: relative;
    }
    .download-app-wd-2.section-padding:before{
        position: absolute;
        content: '';
        background: #fff;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 40%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .download-app-wd-2 .heading-section h2{
        padding: 0 0 20px;
    }
    .download-app-wd-2 .heading-section p{
        padding: 0 0 20px;
    }
    .download-app-wd-2 .button-section{
        padding: 0 0 20px;
    }
    .download-app-wd-2 .image-section{
        padding: 20px 0 0;
    }
}
@media (max-width: 767px) {
    .download-app-wd-2 .heading-section h2{
        padding: 0 0 15px;
    }
    .download-app-wd-2 .heading-section p{
        padding: 0 0 15px;
    }
    .download-app-wd-2 .button-section{
        padding: 0 0 15px;
    }
    .download-app-wd-2 .image-section{
        padding: 15px 0 0;
    }
    .download-app-wd-2 .image-section img{
        display: block;
        margin: 0 auto;
    }
}
/*==================================================================
End of Download App WD 2 Styling
=====================================================================*/